body {
  background: #00132c;
  color: #fff;
  font-family: 'Raleway', sans-serif; }

img {
  width: 100%; }

p {
  line-height: 1.9;
  font-weight: 300; }

a {
  color: #0583ea; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

iframe {
  padding: 3px;
  border: 2px solid #00b5c3; }

main {
  overflow: hidden; }

.pt-100 {
  padding-top: 100px !important; }

.c-main {
  color: #00b5c3; }

.c-green {
  color: #02e59e; }

.glow-effect {
  background: url(../img/glow.png) no-repeat;
  background-size: auto;
  background-position: 120px -80px;
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 843px;
  top: 0;
  z-index: 0; }

.btn {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 50px;
  text-shadow: 1px 1px rgba(51, 51, 51, 0.3);
  position: relative; }
.btn:before {
  content: "";
  display: block;
  background: rgba(255, 255, 255, 0.05);
  height: 100%;
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
  left: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
.btn:hover:before {
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.btn-red {
  background: #c02942;
  border-color: #c02942;
  color: #fff; }
.btn-red:hover {
  color: #fff;
  background-color: rgba(192, 41, 66, 0.9);
  border-color: #c02942; }
.btn-red:focus {
  box-shadow: 0 0 0 0.2rem rgba(192, 41, 66, 0.5); }

.btn-primary {
  background: #00b5c3;
  border-color: #00b5c3; }
.btn-primary:hover, .btn-primary:active {
  color: #fff;
  background-color: rgba(0, 181, 195, 0.9) !important;
  border-color: #00b5c3 !important; }
.btn-primary:focus, .btn-primary:active {
  box-shadow: 0 0 0 0.2rem rgba(0, 181, 195, 0.5) !important; }

header nav {
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
header nav.navbar {
  background: rgba(255, 255, 255, 0.05);
  height: 70px;
  padding: 20px 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25); }
header nav.navbar-dark .navbar-nav .nav-item {
  position: relative;
  padding: 18px 0; }
header nav.navbar-dark .navbar-nav .nav-item .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
  padding-right: 1rem;
  padding-left: 1rem;
  font-weight: 600;
  position: relative;
  overflow: hidden; }
header nav.navbar-dark .navbar-nav .nav-item .nav-link:before {
  content: "";
  display: block;
  background: #00b5c3;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
header nav.navbar-dark .navbar-nav .nav-item .nav-link:hover:before {
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center; }
header nav.navbar-dark .navbar-nav .nav-item.active .nav-link {
  color: #00b5c3; }
header nav.navbar-dark .navbar-nav .nav-item.special .nav-link {
  box-shadow: inset 0px 0px 0px 2px #108fca;
  -webkit-box-shadow: inset 0px 0px 0px 2px #108fca;
  -moz-box-shadow: inset 0px 0px 0px 2px #108fca;
  color: #108fca;
  font-weight: bold; }
header nav.navbar-dark .navbar-nav .nav-item:hover ul {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out; }
header nav.navbar-dark .navbar-nav ul {
  min-width: 250px;
  background: #123860;
  padding: 0;
  left: 0;
  right: 0;
  top: 69px;
  position: absolute;
  color: #fff;
  border-radius: 4px;
  list-style-type: none;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  opacity: 0; }
header nav.navbar-dark .navbar-nav ul li {
  position: relative; }
header nav.navbar-dark .navbar-nav ul li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
  padding: 0.7rem 1rem;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
header nav.navbar-dark .navbar-nav ul li a.current {
  background: rgba(0, 0, 0, 0.2);
  color: #00b5c3; }
header nav.navbar-dark .navbar-nav ul li a:hover {
  background: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: #00b5c3;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
header nav.navbar-dark .navbar-nav ul:before {
  content: "";
  display: block;
  position: absolute;
  top: -15px;
  left: 30px;
  width: 0px;
  height: 0px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 16px solid #123860; }
header nav.sticky {
  background: #00132c;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
header nav .navbar-brand img {
  width: 210px; }

.dv-banner {
  background: url("../img/banner-particles.png");
  background-size: cover;
  background-position: bottom center;
  padding: 100px 0; }
.dv-banner > .container {
  position: relative;
  z-index: 1; }
.dv-banner .dv-title {
  color: #fff; }
.dv-banner .dv-title h1 {
  margin-bottom: 30px;
  margin-top: 60px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 48px; }
.dv-banner .dv-title h1 span {
  background: #02e59e;
  background: -moz-linear-gradient(to right, #02e59e 0%, #00b5c3 50%, #0583ea 100%);
  background: linear-gradient(to right, #02e59e 0%, #00b5c3 50%, #0583ea 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  letter-spacing: 1px; }
.dv-banner .dv-title .subtitle {
  margin-bottom: 40px;
  font-size: 18px; }
.dv-banner .dv-title .subtitle span {
  color: #00b5c3;
  text-transform: uppercase; }
.dv-banner .dv-title-2 h2 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px; }
.dv-banner .dv-title-2 span {
  color: #00b5c3;
  font-size: 18px; }
.dv-banner img {
  width: 100%; }
.dv-banner .banner-img-container {
  position: relative;
  z-index: 1; }

.dv-main-content {
  padding: 80px 0;
  background: url(../img/banner-particles-upside.png);
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat; }

.sec {
  padding: 50px 0; }
.sec.sec-pattern {
  background: url(../img/stars.png); }
.sec h4, .sec h3 {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 22px; }
.sec h4 span, .sec h3 span {
  margin-left: 15px;
  font-weight: normal;
  font-size: 14px; }
.sec h3 {
  font-size: 18px; }

.sec-featured img {
  width: 100%; }

.fancy-title {
  margin-bottom: 50px;
  padding: 10px 0;
  color: #00b5c3;
  position: relative;
  display: inline-block;
  width: auto;
  font-size: 19px;
  text-transform: uppercase;
  text-shadow: 0 0 5px rgba(0, 181, 195, 0.75); }
.fancy-title:before, .fancy-title:after {
  content: "";
  background: #02e59e;
  background: -moz-linear-gradient(87deg, #ff3956 0%, #00b5c3 50%, #0583ea 100%);
  background: -webkit-linear-gradient(87deg, #ff3956 0%, #00b5c3 50%, #0583ea 100%);
  background: linear-gradient(87deg, #ff3956 0%, #00b5c3 50%, #0583ea 100%);
  background-size: 150% 150%;
  width: 180%;
  display: block;
  position: absolute;
  height: 2px;
  left: -40%;
  box-shadow: 0 0 9px rgba(0, 181, 195, 0.75);
  -webkit-animation: gradientAnim 5s ease infinite;
  -moz-animation: gradientAnim 5s ease infinite;
  animation: gradientAnim 5s ease infinite; }
.fancy-title:before {
  top: 0; }
.fancy-title:after {
  background: -moz-linear-gradient(90deg, #0583ea 0%, #00b5c3 50%, #ff3956 100%);
  background: -webkit-linear-gradient(90deg, #0583ea 0%, #00b5c3 50%, #ff3956 100%);
  background: linear-gradient(90deg, #0583ea 0%, #00b5c3 50%, #ff3956 100%);
  background-size: 150% 150%;
  -webkit-animation: gradientAnim 5s ease infinite;
  -moz-animation: gradientAnim 5s ease infinite;
  animation: gradientAnim 5s ease infinite;
  bottom: 0; }

.dv-entry .dv-entry-img img {
  width: 150px; }
.dv-entry .dv-entry-text {
  padding: 30px; }
.dv-entry .dv-entry-text h4 {
  font-size: 18px; }
.dv-entry .dv-entry-text p {
  font-size: 14px; }

.dv-promobox {
  background: rgba(0, 0, 0, 0.3);
  padding: 50px 0;
  overflow: hidden; }
.dv-promobox h4 {
  margin-bottom: 20px; }

.dv-contact-form {
  background: #376df3;
  background: -moz-linear-gradient(94deg, rgba(55, 109, 243, 0.5) 0%, rgba(5, 131, 234, 0.5) 50%, rgba(75, 99, 221, 0.5) 100%);
  background: -webkit-linear-gradient(94deg, rgba(55, 109, 243, 0.5) 0%, rgba(5, 131, 234, 0.5) 50%, rgba(75, 99, 221, 0.5) 100%);
  background: linear-gradient(94deg, rgba(55, 109, 243, 0.5) 0%, rgba(5, 131, 234, 0.5) 50%, rgba(75, 99, 221, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#376df3", endColorstr="#4b63dd", GradientType=1);
  padding: 30px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 10px 7px rgba(0, 0, 0, 0.25); }
.dv-contact-form .form-control {
  background: #00132c;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.4); }
.dv-contact-form label {
  margin-bottom: .5rem;
  font-weight: 500;
  font-size: 14px; }

footer {
  background: #0d1f37;
  padding: 50px 0;
  font-size: 12px;
  color: #b3b3b3;
  border-top: 1px solid rgba(255, 255, 255, 0.25); }
footer .ul-footer-nav {
  padding: 0; }
footer .ul-footer-nav li {
  display: inline-block; }
footer .ul-footer-nav li a {
  padding: 0 10px;
  border-right: 1px solid #333;
  color: #b3b3b3; }
footer .ul-footer-nav li:last-child a {
  border-right: 0; }

.dv-social-links {
  padding: 0; }
.dv-social-links li {
  display: inline-block; }
.dv-social-links li a {
  padding: 0 15px;
  display: block;
  color: #f2f2f2;
  font-size: 30px; }

.roadmap {
  background: #163456;
  list-style-type: none;
  padding: 0;
  position: relative;
  height: 5px;
  width: 100%;
  margin-bottom: 0;
  margin: 250px 0; }
.roadmap:before, .roadmap:after {
  content: "";
  background: #163456;
  width: 25px;
  height: 25px;
  position: absolute;
  border-radius: 100%;
  left: -5px;
  bottom: 50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%); }
.roadmap:after {
  content: "";
  left: auto;
  right: -5px; }
.roadmap li {
  position: absolute;
  width: 25%; }
.roadmap li:first-child {
  left: 0;
  bottom: 2720%; }
.roadmap li:nth-child(2) {
  padding-top: 10px;
  left: 25%;
  top: 2686%; }
.roadmap li:nth-child(2) div {
  bottom: 100%;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }
.roadmap li:nth-child(3) {
  left: 50%;
  bottom: 2720%; }
.roadmap li:nth-child(4) {
  padding-top: 10px;
  right: 0;
  top: 2686%; }
.roadmap li:nth-child(4) div {
  bottom: 100%;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }
.roadmap li div {
  background: #2bb7dd;
  background: -moz-linear-gradient(190deg, #0b70b7 0%, #108fca 27%, #2bb7dd 65%, #57c3c3 100%);
  background: -webkit-linear-gradient(190deg, #0b70b7 0%, #108fca 27%, #2bb7dd 65%, #57c3c3 100%);
  background: linear-gradient(190deg, #0b70b7 0%, #108fca 27%, #2bb7dd 65%, #57c3c3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b70b7", endColorstr="#57c3c3", GradientType=1);
  width: 2px;
  height: 113px;
  position: absolute;
  left: 50%; }
.roadmap li div:before {
  background: #2bb7dd;
  width: 8px;
  height: 8px;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 100%; }
.roadmap li div:after {
  content: ""; }
.roadmap li div span {
  background: #00132c;
  height: 35px;
  width: 35px;
  position: absolute;
  text-align: center;
  line-height: 200px;
  color: white;
  border-radius: 50%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border: 1px solid #2bb7dd;
  top: 100%; }
.roadmap li div span:after {
  background: #2bb7dd;
  background: -moz-linear-gradient(0deg, #0b70b7 0%, #108fca 27%, #2bb7dd 65%, #57c3c3 100%);
  background: -webkit-linear-gradient(0deg, #0b70b7 0%, #108fca 27%, #2bb7dd 65%, #57c3c3 100%);
  background: linear-gradient(0deg, #0b70b7 0%, #108fca 27%, #2bb7dd 65%, #57c3c3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b70b7", endColorstr="#57c3c3", GradientType=1);
  height: calc(100% - 8px);
  width: calc(100% - 8px);
  position: absolute;
  content: '';
  top: 4px;
  left: 4px;
  border-radius: inherit;
  z-index: -1; }

.ul-with-icon {
  list-style-type: none; }
.ul-with-icon li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 25px; }
.ul-with-icon li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  color: #02e59e;
  position: absolute;
  left: 0; }

.carousel-control-prev-icon {
  background-image: url("../img/icons/left.png"); }

.carousel-control-next-icon {
  background-image: url("../img/icons/right.png"); }

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 74px;
  height: 104px; }

.carousel-indicators {
  bottom: -50px; }
.carousel-indicators li {
  background: rgba(0, 181, 195, 0.1); }
.carousel-indicators .active {
  background: #00b5c3; }

.carousel-item iframe {
  padding: 3px;
  border: 2px solid #00b5c3; }

.dv-gallery {
  padding: 15px; }
.dv-gallery .dv-caption {
  background: #000000ad;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: 0;
  left: 0; }
.dv-gallery .dv-caption p {
  margin: 0;
  font-size: 14px; }

#Red-Circle {
  -webkit-animation: spin 12s linear infinite;
  -moz-animation: spin 12s linear infinite;
  animation: spin 12s linear infinite;
  -webkit-transform-origin: 410px center;
  -ms-transform-origin: 410px center;
  transform-origin: 410px center; }

#Blue_x5F_Circle .st21 {
  -webkit-animation: spin2 12s linear infinite;
  -moz-animation: spin2 12s linear infinite;
  animation: spin2 12s linear infinite;
  -webkit-transform-origin: 410px center;
  -ms-transform-origin: 410px center;
  transform-origin: 410px center; }

#Blue_x5F_Circle .dv-3rd {
  -webkit-animation: spin 12s linear infinite;
  -moz-animation: spin 12s linear infinite;
  animation: spin 12s linear infinite;
  -webkit-transform-origin: 410px center;
  -ms-transform-origin: 410px center;
  transform-origin: 410px center; }

.dv-ERC {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  -webkit-transform-origin: 762.5px 298px;
  -ms-transform-origin: 762.5px 298px;
  transform-origin: 762.5px 298px; }

.dv-big-circle {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  -webkit-transform-origin: 453px 300px;
  -ms-transform-origin: 453px 300px;
  transform-origin: 453px 300px; }

.blueOutline {
  -webkit-animation: spin 12s linear infinite;
  -moz-animation: spin 12s linear infinite;
  animation: spin 12s linear infinite;
  -webkit-transform-origin: 875px 354px;
  -ms-transform-origin: 875px 354px;
  transform-origin: 875px 354px; }

.redOutline {
  -webkit-animation: spin2 12s linear infinite;
  -moz-animation: spin2 12s linear infinite;
  animation: spin2 12s linear infinite;
  -webkit-transform-origin: 875px 142px;
  -ms-transform-origin: 875px 142px;
  transform-origin: 875px 142px; }

.dv-glow {
  -webkit-animation: opa 1s linear infinite alternate;
  -moz-animation: opa 1s linear infinite alternate;
  animation: opa 1s linear infinite alternate; }

.dv-pulse {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-animation: pulse 3s linear infinite;
  -moz-animation: pulse 3s linear infinite;
  animation: pulse 3s linear infinite;
  -webkit-transform-origin: 460px 300px;
  -ms-transform-origin: 460px 300px;
  transform-origin: 460px 300px;
  opacity: 0; }

.dv-arrow {
  -webkit-animation: outlineW 2.5s linear infinite;
  -moz-animation: outlineW 2.5s linear infinite;
  animation: outlineW 2.5s linear infinite;
  -webkit-transform-origin: 550px 0;
  -ms-transform-origin: 550px 0;
  transform-origin: 550px 0;
  opacity: 0; }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes spin2 {
  100% {
    -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin2 {
  100% {
    -webkit-transform: rotate(-360deg); } }
@keyframes spin2 {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }
@-moz-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0; }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.8; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1.4);
    opacity: 0; } }
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0; }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.8; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1.4);
    opacity: 0; } }
@keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0; }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.8; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1.4);
    opacity: 0; } }
@keyframes outlineW {
  0% {
    -webkit-transform: scaleX(0);
    transform: translateX(-80px);
    opacity: 0; }
  70% {
    -webkit-transform: scaleX(1);
    transform: translateX(0);
    opacity: 0.8; }
  100% {
    -webkit-transform: scaleX(1);
    transform: translateX(30px);
    opacity: 0; } }
@keyframes opa {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 0.5; } }
@-webkit-keyframes gradientAnim {
  0% {
    background-position: 0% 71%; }
  50% {
    background-position: 100% 30%; }
  100% {
    background-position: 0% 71%; } }
@-moz-keyframes gradientAnim {
  0% {
    background-position: 0% 71%; }
  50% {
    background-position: 100% 30%; }
  100% {
    background-position: 0% 71%; } }
@keyframes gradientAnim {
  0% {
    background-position: 0% 71%; }
  50% {
    background-position: 100% 30%; }
  100% {
    background-position: 0% 71%; } }

/*# sourceMappingURL=main.css.map */
