@media (min-width: 1367px){
	.dv-main-content.sub{
    background-position: 0 -7%;
	}
}

@media (min-width: 1200px) {
	.container {
	    max-width: 1170px;
	}
}

@media (max-width: 991px){
	header nav.navbar{
		padding: 10px 0 !important;
	}

	header nav.navbar .navbar-collapse{
		background: #0d1f37;
	}

	header nav.navbar .navbar-brand{
		padding-left: 15px;
	}

	header nav.navbar .navbar-toggler{
		margin-right: 15px;
	}

	header nav.navbar-dark .navbar-nav .nav-item .nav-link{
    padding: 15px;
	}

	header nav.navbar-dark .navbar-nav .nav-item{
		padding: 0;
	}

	header nav.navbar-dark .navbar-nav ul{
		position: relative;
		top: auto;
		-webkit-transform: scaleY(1);
		-moz-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
	}

	header nav.navbar-dark .navbar-nav ul li a{
    padding: 15px 30px;
	}
}

@media (max-width: 767px){
	.carousel-item iframe{
		width: 100%;
	}

	.dv-banner .dv-title h1{
		font-size: 32px;
	}
	.dv-banner .dv-title .subtitle{
		font-size: 14px; 
	}

	.dv-banner .banner-img-container{
		display: none;
	}

}