$cBlue: #0583ea;
$cSkyblue: #00b5c3;
$menuBlue: #123860;
$cDarkblue: #00132c;
$cLightblue: #108fca;
$cGreen: #02e59e;
$cLightgreen: #02e59e;
$cRed: #c02942;

@mixin transition($property) {
	-webkit-transition: $property;
	-ms-transition: $property;
	transition: $property;
}

@mixin transO($property) {
	-webkit-transform-origin: $property;
	-ms-transform-origin: $property;
	transform-origin: $property;
}

@mixin transform($property) {
	-webkit-transform: $property;
	-ms-transform: $property;
	transform: $property;
}

@mixin gradient($cA, $cB, $cC) {
	background: $cA;
	background: -moz-linear-gradient(to right, $cA 0%, $cB 50%, $cC 100%);
	background: linear-gradient(to right, $cA 0%, $cB 50%, $cC 100%);
}

body {
	background: $cDarkblue;
	color: #fff;
	font-family: 'Raleway', sans-serif;
}

img {
	width: 100%;
}

p {
	line-height: 1.9;
	font-weight: 300;
}

a {
	color: $cBlue;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}

iframe {
	padding: 3px;
	border: 2px solid #00b5c3;
}

.pt-100 {
	padding-top: 100px !important;
}

.c-main {
	color: $cSkyblue;
}

.c-green {
	color: $cGreen;
}

.glow-effect {
	background: url(../img/glow.png) no-repeat;
	background-size: auto;
	background-position: 120px -80px;
	position: absolute;
	width: 100%;
	height: 100%;
	max-height: 843px;
	top: 0;
	z-index: 0;
}

.btn {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 8px 50px;
	text-shadow: 1px 1px rgba(51, 51, 51, 0.30);
	position: relative;

	&:before {
		content: "";
		display: block;
		background: rgba(255, 255, 255, 0.05);
		height: 100%;
		width: 0;
		position: absolute;
		left: 0;
		top: 0;
		left: 50%;
		@include transition(all .5s ease-in-out);
		@include transO(center);
		@include transform(translateX(-50%));
	}

	&:hover:before {
		width: 100%;
		@include transition(all .5s ease-in-out);
	}

}

.btn-red {
	background: $cRed;
	border-color: $cRed;
	color: #fff;

	&:hover {
		color: #fff;
		background-color: rgba($cRed, 0.90);
		border-color: $cRed;
	}

	&:focus {
		box-shadow: 0 0 0 0.2rem rgba($cRed, .5);
	}

}

.btn-primary {
	background: $cSkyblue;
	border-color: $cSkyblue;

	&:hover, &:active {
		color: #fff;
		background-color: rgba($cSkyblue, 0.90) !important;
		border-color: $cSkyblue !important;
	}

	&:focus, &:active {
		box-shadow: 0 0 0 0.2rem rgba($cSkyblue, .5) !important;
	}

}

header {
	nav {
		@include transition(all .2s ease-in-out);

		&.navbar {
			background: rgba(255, 255, 255, 0.05);
			height: 70px;
			padding: 20px 50px;
			border-bottom: 1px solid rgba(255, 255, 255, .25);
		}

		&.navbar-dark {
			.navbar-nav {
				.nav-item {
					position: relative;
					padding: 18px 0;

					.nav-link {
						color: #fff;
						text-transform: uppercase;
						font-size: 12px;
						letter-spacing: 0.5px;
						padding-right: 1rem;
						padding-left: 1rem;
						font-weight: 600;
						position: relative;
						overflow: hidden;

						&:before {
							content: "";
							display: block;
							background: $cSkyblue;
							position: absolute;
							bottom: 0;
							left: 50%;
							width: 0;
							height: 1px;
							@include transition(all .2s ease-in-out);
							@include transO(center);
							@include transform(translateX(-50%));
						}

						&:hover:before {
							width: 100%;
							@include transition(all .2s ease-in-out);
							@include transO(center);
						}

					}

					&.active {
						.nav-link {
							color: $cSkyblue;
						}

					}

					&.special {
						.nav-link {
							box-shadow: inset 0px 0px 0px 2px $cLightblue;
							-webkit-box-shadow: inset 0px 0px 0px 2px $cLightblue;
							-moz-box-shadow: inset 0px 0px 0px 2px $cLightblue;
							color: $cLightblue;
							font-weight: bold;
						}

					}

					&:hover {
						ul {
							@include transform(scaleY(1));
							opacity: 1;
							@include transition(opacity .2s ease-in-out);
						}

					}

				}

				ul {
					min-width: 250px;
					background: $menuBlue;
					padding: 0;
					left: 0;
					right: 0;
					top: 69px;
					position: absolute;
					color: #fff;
					border-radius: 4px;
					list-style-type: none;
					@include transform(scaleY(0));
					@include transO(top);
					opacity: 0;

					li {
						position: relative;

						a {
							color: #fff;
							text-transform: uppercase;
							font-size: 12px;
							letter-spacing: 0.5px;
							padding: 0.7rem 1rem;
							font-weight: 600;
							position: relative;
							overflow: hidden;
							display: block;
							@include transition(all .5s ease-in-out);

							&.current {
								background: rgba(0, 0, 0, 0.2);
								color: $cSkyblue;
							}

							&:hover {
								background: rgba(0, 0, 0, 0.2);
								text-decoration: none;
								color: $cSkyblue;
								@include transition(all .5s ease-in-out);
							}

						}

					}

					&:before {
						content: "";
						display: block;
						position: absolute;
						top: -15px;
						left: 30px;
						width: 0px;
						height: 0px;
						border-left: 15px solid transparent;
						border-right: 15px solid transparent;
						border-bottom: 16px solid $menuBlue;
					}

				}

			}

		}

		&.sticky {
			background: $cDarkblue;
			@include transition(all .2s ease-in-out);
		}

		.navbar-brand {
			img {
				width: 210px;
			}

		}

	}

}

.dv-banner {
	background: url('../img/banner-particles.png');
	background-size: cover;
	background-position: bottom center;
	padding: 100px 0;

	&>.container {
		position: relative;
		z-index: 1;
	}

	.dv-title {
		color: #fff;

		h1 {
			margin-bottom: 30px;
			margin-top: 60px;
			font-weight: 300;
			text-transform: uppercase;
			font-size: 48px;

			span {
				@include gradient(#02e59e, #00b5c3, #0583ea);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				font-weight: 900;
				letter-spacing: 1px;
			}

		}

		.subtitle {
			margin-bottom: 40px;
			font-size: 18px;

			span {
				color: $cSkyblue;
				text-transform: uppercase;
			}

		}

	}

	.dv-title-2 {
		h2 {
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 1px;
		}

		span {
			color: $cSkyblue;
			font-size: 18px;
		}

	}

	img {
		width: 100%;
	}

	.banner-img-container {
		position: relative;
		z-index: 1;
	}

}

.dv-main-content {
	padding: 80px 0;
	background: url(../img/banner-particles-upside.png);
	background-size: 100%;
	background-position: top center;
	background-repeat: no-repeat;
}

.sec {
	padding: 50px 0;

	&.sec-pattern {
		background: url(../img/stars.png);
	}

	h4, h3 {
		margin-bottom: 30px;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 22px;

		span {
			margin-left: 15px;
			font-weight: normal;
			font-size: 14px;
		}

	}

	h3 {
		font-size: 18px;
	}

}

.sec-featured {
	img {
		width: 100%;
	}

}

.fancy-title {
	margin-bottom: 50px;
	padding: 10px 0;
	color: $cSkyblue;
	position: relative;
	display: inline-block;
	width: auto;
	font-size: 19px;
	text-transform: uppercase;
	text-shadow: 0 0 5px rgba($cSkyblue, 0.75);

	&:before, &:after {
		content: "";
		background: rgb(2, 229, 158);
		background: -moz-linear-gradient(90deg, rgba(255, 57, 86, 1) 0%, rgba(0, 181, 195, 1) 50%, rgba(5, 131, 234, 1) 100%);
		background: -webkit-linear-gradient(90deg, rgba(255, 57, 86, 1) 0%, rgba(0, 181, 195, 1) 50%, rgba(5, 131, 234, 1) 100%);
		background: linear-gradient(90deg, rgba(255, 57, 86, 1) 0%, rgba(0, 181, 195, 1) 50%, rgba(5, 131, 234, 1) 100%);
		width: 180%;
		display: block;
		position: absolute;
		height: 2px;
		left: -40%;
		box-shadow: 0 0 9px rgba($cSkyblue, 0.75);
	}

	&:before {
		top: 0;
	}

	&:after {
		background: -moz-linear-gradient(90deg, rgba(5, 131, 234, 1) 0%, rgba(0, 181, 195, 1) 50%, rgba(255, 57, 86, 1) 100%);
		background: -webkit-linear-gradient(90deg, rgba(5, 131, 234, 1) 0%, rgba(0, 181, 195, 1) 50%, rgba(255, 57, 86, 1) 100%);
		background: linear-gradient(90deg, rgba(5, 131, 234, 1) 0%, rgba(0, 181, 195, 1) 50%, rgba(255, 57, 86, 1) 100%);
		bottom: 0;
	}

}

.dv-entry {
	.dv-entry-img {
		img {
			width: 150px;
		}

	}

	.dv-entry-text {
		padding: 30px;

		h4 {
			font-size: 18px;
		}

		p {
			font-size: 14px;
		}

	}

}

.dv-promobox {
	background: rgba(0, 0, 0, 0.3);
	padding: 50px 0;

	h4 {
		margin-bottom: 20px;
	}

}

.dv-contact-form {
	background: rgb(55, 109, 243);
	background: -moz-linear-gradient(94deg, rgba(55, 109, 243, 0.5) 0%, rgba(5, 131, 234, 0.5) 50%, rgba(75, 99, 221, 0.5) 100%);
	background: -webkit-linear-gradient(94deg, rgba(55, 109, 243, 0.5) 0%, rgba(5, 131, 234, 0.5) 50%, rgba(75, 99, 221, 0.5) 100%);
	background: linear-gradient(94deg, rgba(55, 109, 243, 0.5) 0%, rgba(5, 131, 234, 0.5) 50%, rgba(75, 99, 221, 0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#376df3", endColorstr="#4b63dd", GradientType=1);
	padding: 30px;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.4);
	box-shadow: 0 10px 7px rgba(0, 0, 0, 0.25);

	.form-control {
		background: $cDarkblue;
		color: #fff;
		border: 1px solid rgba(255, 255, 255, 0.4);
	}

	label {
		margin-bottom: .5rem;
		font-weight: 500;
		font-size: 14px;
	}

}

footer {
	background: #0d1f37;
	padding: 50px 0;
	font-size: 12px;
	color: #b3b3b3;
	border-top: 1px solid rgba(255, 255, 255, 0.25);

	.ul-footer-nav {
		padding: 0;

		li {
			display: inline-block;

			a {
				padding: 0 10px;
				border-right: 1px solid #333;
				color: #b3b3b3;
			}

			&:last-child {
				a {
					border-right: 0;
				}

			}

		}

	}

}

.dv-social-links {
	padding: 0;

	li {
		display: inline-block;

		a {
			padding: 0 15px;
			display: block;
			color: #f2f2f2;
			font-size: 30px;
		}

	}

}

.roadmap {
	background: #163456;
	list-style-type: none;
	padding: 0;
	position: relative;
	height: 5px;
	width: 100%;
	margin-bottom: 0;
	margin: 250px 0;

	&:before, &:after {
		content: "";
		background: #163456;
		width: 25px;
		height: 25px;
		position: absolute;
		border-radius: 100%;
		left: -5px;
		bottom: 50%;
		@include transform(translateY(50%));
	}

	&:after {
		content: "";
		left: auto;
		right: -5px;
	}

	li {
		position: absolute;
		width: 25%;

		&:first-child {
			left: 0;
			bottom: 2720%;
		}

		&:nth-child(2) {
			padding-top: 10px;
			left: 25%;
			top: 2686%;

			div {
				bottom: 100%;
				@include transform(rotate(180deg));
			}

		}

		&:nth-child(3) {
			left: 50%;
			bottom: 2720%;
		}

		&:nth-child(4) {
			padding-top: 10px;
			right: 0;
			top: 2686%;

			div {
				bottom: 100%;
				@include transform(rotate(180deg));
			}

		}

		div {
			background: #2bb7dd;
			background: -moz-linear-gradient(190deg, rgba(11, 112, 183, 1) 0%, rgba(16, 143, 202, 1) 27%, rgba(43, 183, 221, 1) 65%, rgba(87, 195, 195, 1) 100%);
			background: -webkit-linear-gradient(190deg, rgba(11, 112, 183, 1) 0%, rgba(16, 143, 202, 1) 27%, rgba(43, 183, 221, 1) 65%, rgba(87, 195, 195, 1) 100%);
			background: linear-gradient(190deg, rgba(11, 112, 183, 1) 0%, rgba(16, 143, 202, 1) 27%, rgba(43, 183, 221, 1) 65%, rgba(87, 195, 195, 1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b70b7", endColorstr="#57c3c3", GradientType=1);
			width: 2px;
			height: 113px;
			position: absolute;
			left: 50%;

			&:before {
				background: #2bb7dd;
				width: 8px;
				height: 8px;
				content: "";
				position: absolute;
				top: 0;
				left: 50%;
				@include transform(translateX(-50%));
				border-radius: 100%;
			}

			&:after {
				content: "";
			}

			span {
				background: $cDarkblue;
				height: 35px;
				width: 35px;
				position: absolute;
				text-align: center;
				line-height: 200px;
				color: white;
				border-radius: 50%;
				bottom: 0;
				left: 50%;
				@include transform(translateX(-50%));
				border: 1px solid #2bb7dd;
				top: 100%;

				&:after {
					background: #2bb7dd;
					background: -moz-linear-gradient(0deg, rgba(11, 112, 183, 1) 0%, rgba(16, 143, 202, 1) 27%, rgba(43, 183, 221, 1) 65%, rgba(87, 195, 195, 1) 100%);
					background: -webkit-linear-gradient(0deg, rgba(11, 112, 183, 1) 0%, rgba(16, 143, 202, 1) 27%, rgba(43, 183, 221, 1) 65%, rgba(87, 195, 195, 1) 100%);
					background: linear-gradient(0deg, rgba(11, 112, 183, 1) 0%, rgba(16, 143, 202, 1) 27%, rgba(43, 183, 221, 1) 65%, rgba(87, 195, 195, 1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b70b7", endColorstr="#57c3c3", GradientType=1);
					height: calc(100% - 8px);
					width: calc(100% - 8px);
					position: absolute;
					content: '';
					top: 4px;
					left: 4px;
					border-radius: inherit;
					z-index: -1;
				}

			}

		}

	}

}

.ul-with-icon {
	list-style-type: none;

	li {
		margin-bottom: 10px;
		position: relative;
		padding-left: 25px;

		&:before {
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			content: "\f00c";
			color: $cGreen;
			position: absolute;
			left: 0;
		}

	}

}

.carousel-control-prev-icon {
	background-image: url('../img/icons/left.png');
}

.carousel-control-next-icon {
	background-image: url('../img/icons/right.png');
}

.carousel-control-next-icon, .carousel-control-prev-icon {
	width: 74px;
	height: 104px;
}

.carousel-indicators {
	bottom: -50px;

	li {
		background: rgba($cSkyblue, 0.1);
	}

	.active {
		background: $cSkyblue;
	}

}

.carousel-item {
	iframe {
		padding: 3px;
		border: 2px solid $cSkyblue
	}

}

.dv-gallery {
	padding: 15px;
}
