<!-- ICO -->
<div id="go-ico" class="page-section dark parallax bottompadding">
	<div class="ico-content">
		<div class="container clearfix" style="z-index:1;">
			<div class="heading-block title-center page-section">
				<h2>Crypto Equity <span>ICO</span></h2>
				<span>Powered by the CapchainX technology</span>
			</div>

			<div class="col-sm-10 divcenter bottommargin-lg">
				<p class="lead text-center">Pioneering Crypto Equity tokenisation, CapchainX provides end-to-end ICO solutions to safeguard companies in their token offering journey. Leveraging our technical and business expertise, we are on a mission to build towards a healthy, sustainable and robust ICO space for millions of private companies globally.</p>
			</div>

			<div class="col-sm-12 divcenter" style="overflow:hidden;">
				<div class="col-sm-12 card">
					<div class="thumbnail col-md-5">
						<a href="https://elpisinvestments.com/" target="_blank">
					  	<img alt="Elpis Investments" src="images/clients/Elpis-Investments_logo.png">
					 	</a>
						
						<div class="clear"></div>
						<div class="caption">
							<!-- <a href="https://elpisinvestments.com/"><h3>Elpis Investments</h3></a> -->
							<p>The first Artificial Intelligence driven Investment fund to manage both Crypto Assets and Traditional Assets.</p>
					  </div>

					</div>

					<div class="thumbinfo col-md-7">
						<h2>Elpis Investments</h2>
					  <div class="col-sm-6 box">
							<h4><span>$20,000,000</span></h4>
							<small>Target amount</small>
						</div>

						<div class="col-sm-6 box">
							<h4>11/01/2017</h4>
							<small>Presale Date</small>
						</div>

						<div class="clear"></div>

					  <div class="col-sm-6 p-10">
					  	<div class="contact">
								<span>Anatoly Castella, CEO</span>
								<br>
								<a href="mailto:info@elpisinvestments.com">info@elpisinvestments.com</a>
							</div>
						</div>
						<div class="col-sm-6 p-10 social">
							<div class="pull-right">
								<a href="https://www.facebook.com/Elpisinvestments/" class="social-icon si-borderless si-facebook">
									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>
								<a href="https://twitter.com/elpis_invest" class="social-icon si-borderless si-twitter" title="Twitter">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
								</a>
								<a href="https://www.linkedin.com/company/elpis-investments/" class="social-icon si-borderless si-linkedin" title="Linked In">
									<i class="icon-linkedin"></i>
									<i class="icon-linkedin"></i>
								</a>
								<a href="https://medium.com/@elpisinvestments" class="social-icon si-borderless si-digg" title="Medium">
									<i class="fa fa-medium"></i>
									<i class="fa fa-medium"></i>
								</a>
							</div>
						</div>
					</div>

				</div>

				<div class="col-sm-12 card">

					<div class="thumbnail col-md-5">
						<a href="https://www.nuzdah.com" target="_blank">
					  	<img alt="NodeCM.io by Nuzdah" src="images/clients/nodecm_x_nuzdah_logo.png">
					  </a>
						
						<div class="clear"></div>
						<div class="caption">
							<p>Nuzdah helps companies to test, prototype and scale IOT solutions much easier and faster.</p>
					  </div>

					</div>

					<div class="thumbinfo col-md-7">
						<h2>Nuzdah</h2>
					  <div class="col-sm-6 box">
							<h4><span>$2,000,000</span></h4>
							<small>Target amount</small>
						</div>

						<div class="col-sm-6 box">
							<h4>11/01/2017</h4>
							<small>Presale Date</small>
						</div>

						<div class="clear"></div>

					  <div class="col-sm-6 p-10">
					  	<div class="contact">
								<span>Gianpaolo Riva</span>
								<br>
								<a href="mailto:info@nuzdah.com">info@nuzdah.com</a>
							</div>
						</div>
						<div class="col-sm-6 p-10 social">
							<div class="pull-right">
								<a href="https://www.facebook.com/Nodecmio-837583279733364/" class="social-icon si-borderless si-facebook">
									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>
								<a href="https://twitter.com/nodecm_io" class="social-icon si-borderless si-twitter" title="Twitter">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
								</a>
								<a href="mailto:info@nuzdah.com" class="social-icon si-borderless si-email3" title="Email">
									<i class="icon-email3"></i>
									<i class="icon-email3"></i>
								</a>
							</div>
						</div>
					</div>

				</div>

			</div>

			<div class="divider divider-center notopmargin viewall">
              <a href="ico-list.html" class="button button-large button-border">View All</a>
          </div>

			<div class="center bottommargin ico-btns">
				<div class="col-md-6 divcenter">
					<a href="ico.html" class="button button-desc center"><div>Start your ICO</div><span>Get in touch with us to conduct you own Crypto Equity ICO whenever &amp; however you like!</span></a>
				</div>

				<!-- <div class="col-md-6">
					<a href="https://docs.google.com/forms/d/e/1FAIpQLSdkWyUS8Er1vl28pwdcHc0MdmnAp467WM53JIx9hwttBJqCrQ/viewform?usp=sf_link" class="button button-desc button-border center"><div>Join Investor List</div><span>Be the first to receive info about upcoming Crypto Equity ICO projects!</span></a>
				</div> -->
			</div>
		</div>
	</div>
	<div id="particles-js" style="position: absolute; top: 0; height: 100%; width: 100%; opacity: 0.06;"></div>
</div>

<!-- <div id="contact" class="page-section dark section-3 nomargin nopadding noabsolute" style="background: url(images/capchainx/contact_bg.jpg) center no-repeat; background-size:cover;">
	<div class="content-wrap" style="z-index:1;">
		<div class="container clearfix">

			<div class="heading-block title-center page-section">
				<h2>Contact Us</h2>
				<span>For partnerships, inquiries, career opportunites, press interviews and feedback. We’d love to work with you!</span>
			</div>

			<div class="contact-widget" data-channel="iframe" data-success="Your information has been submitted.">

				<form action="https://docs.google.com/forms/d/e/1FAIpQLSe6YgPl-C9sNOEwUk1xNo5yuJ4XYDzbQZ3fBcG8g8FD4aHQOg/formResponse" target="gdocs-frame" method="get" role="form" class="dark nobottommargin clearfix">
					<div class="heading-block nobottommargin nobottomborder center">
						<h3>We'd love to hear from you!</h3>
					</div>
					<div class="line" style="margin: 20px 0 30px;"></div>
					<div class="col_full">
						<input type="text" name="entry.2077891887" class="form-control required input-lg not-dark" value="" placeholder="Name">
					</div>
					<div class="col_full">
						<input type="email" name="entry.763804488" class="form-control required input-lg not-dark" value="" placeholder="Email">
					</div>
					<div class="col_full">
						<input type="" name="entry.1416616596" class="form-control required input-lg not-dark" value="" placeholder="Company Name">
					</div>
					<div class="col_full">
						<input type="" name="entry.1619716355" class="form-control required input-lg not-dark" value="" placeholder="Subject">
					</div>
					<div class="col_full">
						<textarea class="form-control required input-lg not-dark" name="entry.1800779259" placeholder="Message"></textarea>
					</div>
					<div class="col_full hidden">
						<input type="text" id="template-landing5-botcheck" name="template-landing5-botcheck" value="" class="form-control" />
					</div>
					<div class="col_full nobottommargin">
						<input type="hidden" name="fvv" value="1" />
						<input type="hidden" name="pageHistory" value="0" />
						<input type="hidden" name="fbzx" value="-8321177781909252767" />
						<input type="hidden" name="draftResponse" value='[null,null,"-8321177781909252767"]' />
						<button class="btn btn-lg button-blue btn-block nomargin noradius" type="submit" style="">Contact Us</button>
					</div>
				</form>

			</div>

		</div>

	</div>
	<div class="video-overlay" style="background-color: rgba(0,0,0,0.65); z-index:0;"></div>
</div> -->