/* ----------------------------------------------------------------
    Custom CSS

    Add all your Custom Styled CSS here for New Styles or
    Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

/* General */
h1, h2, h3, h4, h5, h6 {
    color: #13293D;
}

body {
    color: #4D4D4D;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 15px;
}

a {
    color: #14dadf;
}

::selection {
    background: #337ab7;
}

.vertical-middle {
    top: 45% !important;
}

.centermargin {
    margin: 0 auto;
}

.topmargin-xs {
    margin-top: 20px !important;
}

.p-10 { padding: 10px; }

.toppadding {
    padding-top: 50px !important;
}

.toppadding-xs {
    padding-top: 20px !important;
}

.toppadding-lg {
    padding-top: 80px !important;
}

.bottompadding {
    padding-bottom: 50px !important;
}

.bottompadding-lg {
    padding-bottom: 80px !important;
}

.rightpadding-sm {
    padding-right: 30px !important;
}

.leftpadding-sm {
    padding-left: 30px !important;
}

.rm-10 {
    margin-right: 10px !important;
}

.nowrap {
    white-space: nowrap !important;
}

/*.button {
    -webkit-transition: background .4s ease !important;
    -o-transition: background .4s ease !important;
    transition: background .4s ease !important;
}*/

.button-blue {
    background-color: #337ab7; /*background-color: #40c0cb;*/
}

.button.button-3d {
    border-bottom: 3px solid rgba(0,0,0,0.3);
}

.button-3d.button-blue:hover {
    background-color: #12aedc !important;
}

.button-aqua {
    background-color: #14dadf;
}

.button-aqua:hover {
    background-color: #3cb3bd;
}

.button-reveal.button-aqua:hover {
    background-color: #3cb3bd !important;
}

.button-yellow {
    background-color: #ffc542 !important;
}

.button-3d.button-yellow:hover, .button-yellow:hover {
    background-color: #ffb342 !important
}

.button-red:hover {
    background-color: #ab2238 !important;
}

.cta-signup {
    padding-right: 30px;
    overflow: hidden;
    border-width: 0px;
}

.dark hr {
    border-top-color: rgba(255,255,255,0.05);
}

/*.cta-signup:after { background-color: #FFFFFF; content: "ALPHA"; color: #C52F3A; display: block; font-size: 8px; font-weight: bold; height: 71px; padding-top: 39px; position: absolute; right: -43px; top: -42px; transform: rotate(45deg); width: 71px; text-align: center; text-shadow: none; letter-spacing: 0.5px; }*/
.heading-block a {
    color: #40c0cb;
}

.heading-block h1, .heading-block h2, .heading-block h3, .heading-block h4, #page-title h1 {
    color: #13293D;
}

.heading-block h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 300;
    text-transform: none;
}

.heading-block h3 {
    font-size: 34px;
}

.emphasis-title h1 {
    font-size: 60px;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 1.2em;
    font-family: 'Montserrat', sans-serif;
}

.lead {
    font-size: 20px;
}

.lead span {
    color: aqua;
}

.video-overlay {
    z-index: -1;
}

#primary-menu-trigger {
    font-size: 18px;
}

.introtext {
        font-size: 18px;
    padding: 80px 0;
    background-color: #edf3f7;
}

.page-api .introtext {
    padding: 30px 0;
    color: #fff;
    background: transparent;
}

/*.introtext:after {
    content: '';
    display: block;
    margin: 30px auto 0;
    width: 40px;
    border-top: 3px solid #00a6d4;
}*/

.cta-section.button.button-full {
    font-size: 24px;
    background-color: #12aedc;
}

.cta-section.button:hover {
    background-color: #14dadf;
}

.cta-last-call .button-aqua {
    display: none;
}

/* Hide Request Demo */
.cta-last-call .button-red.btn-block, .cta-last-call .button-yellow.btn-block {
    max-width: 600px;
}

.more-link {
    color: #40c0cb;
    border-bottom: 1px solid #40c0cb;
}

/* Header */
body.stretched #header.full-header .container {
    max-width: 1620px;
}

#header.dark.sticky-header.transparent-header #header-wrap:not(.not-dark) {
    background-color: #13293d;
}

.dark #header:not(.transparent-header), #header.dark:not(.transparent-header) {
    background-color: #13293d;
}

#header, #logo, #primary-menu ul {
    border-width: 0px !important;
}

#primary-menu ul li > a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff !important;
    letter-spacing: 0.5px;
    padding: 12px 15px;
    margin: 27px 0;
    border-radius: 3px;
}

.dark #header-wrap:not(.not-dark) #primary-menu > ul > li > a:not(.btn):hover, 
.dark #header-wrap:not(.not-dark) #primary-menu > ul > li > a:not(.btn):focus, 
.dark #header-wrap:not(.not-dark) #primary-menu > ul > li.current > a:not(.btn), 
.dark #header-wrap:not(.not-dark) #primary-menu > ul > li > a:not(.btn):hover {
    background-color: rgba(0,0,0,0.15);
    box-shadow: 0 2px 0 #14dadf;
    border-radius: 0;
    color: #14dadf;
}
.dark #header-wrap:not(.not-dark) #primary-menu > ul > li:last-child > a:hover {
    background-color: inherit;
    box-shadow: none;
    border-radius: inherit;
    color: inherit;
}

#header.sticky-header:not(.static-sticky) #primary-menu > ul > li > a {
    margin: 0;
    margin-top: 6px;
    padding-top: 12px;
    padding-bottom: 12px;
}

#primary-menu a.btn {
    margin: 28px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    overflow: hidden;
    position: relative;
}

#primary-menu a.button-border {
    margin: 28px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    border: 1px solid #40C0CB;
}

#primary-menu a.button-border:hover {
    background-color: #40C0CB;
}

#primary-menu ul > li > .cta-signup {
    color: #fff !important;
    padding-right: 25px;
    border-radius: 0;
    -webkit-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
    transition: all .4s ease !important;
}

.dark #primary-menu ul > li > .cta-signup:hover {
    background-color: #12aedc !important;
}

#primary-menu ul > li > .cta-signup.button-aqua:after {
    background-color: #FFFFFF;
    content: "ALPHA";
    color: #337ab7;
    display: block;
    font-size: 8px;
    font-weight: bold;
    height: 71px;
    padding-top: 54px;
    position: absolute;
    right: -44px;
    top: -44px;
    transform: rotate(45deg);
    width: 71px;
    text-align: center;
}

/* Temporary hide login button */
.dark #primary-menu:not(.not-dark) ul ul li > a {
    color: #444 !important;
    margin: 0;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.dark #primary-menu:not(.not-dark) ul ul li:hover > a {
    color: #40c0cb !important;
    background-color: #13293d;
    border-left: 3px solid;
    padding-left: 22px;
}

.entry .entry-content {
    clear: both;
}

.entry-title h2 a:hover {
    color: #40c0cb;
}

#primary-menu ul > li:last-child { margin-left: 10px; }

#primary-menu ul > li > ul > li:last-child { margin-left: 0px; }

/* Footer */
#footer.dark, .dark #footer {
    background-color: #13293d;
}

#footer address {
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

#footer.dark .widget h4 {
    color: #fff;
    letter-spacing: 1px;
}

#footer .social {
    margin: 0 auto;
    display: table;
}

#footer .social a {
    margin-right: 5px;
}

#footer .social a:last-child {
    margin-right: 0px;
}

#footer .social a.social-icon > i { line-height: 38px; }

#footer #widget-subscribe-form button {
    color: #fff;
}

#gotoTop:hover {
    background-color: #40c0cb;
}

/* Main Slider */
.page-home #slider {
    background: linear-gradient(45deg, rgb(25, 44, 74) 0%, rgb(43, 73, 123) 100%);
    z-index: 0;
}

.page-home canvas#c {
    position: absolute;
    top: 0;
    left: 0;
    /*z-index: -1;*/
    opacity: 0.05;
}

.page-home #slider .container { z-index: 9999; }

/* Home Page */
.page-home #header.transparent-header.full-header #header-wrap, #header.full-header #primary-menu > ul, .page-home #header.full-header #logo, .page-home .feature-box.fbox-center:not(.fbox-bg) h3:after {
    border-width: 0px;
}

.page-home .video-overlay {
    z-index: -1;
}

.section-1 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-2 {
    background-image: -webkit-linear-gradient(45deg, #0AC9C0, #337ab7);
    background-image: linear-gradient(45deg, #0AC9C0, #337ab7);
    padding: 0;
}

.feature-box .fbox-icon i, .feature-box .fbox-icon img {
    background-color: #fff;
    color: #13293d;
}

.dark .fbox-effect .fbox-icon i:hover, .dark .fbox-effect:hover .fbox-icon i {
    background-color: #13293d;
    color: #fff;
}

.dark .fbox-effect:hover .fbox-icon i:after {
    box-shadow: 0 0 0 2px #fff;
}

.dark .feature-box h3 {
    color: #13293d;
}

.dark .feature-box p {
    color: #e8e8e8;
}

.section-3 .contact-widget {
    width: 500px;
    margin: 0 auto;
}

.section-3 .contact-widget .heading-block h3 {
    font-size: 24px;
    font-weight: 300;
    text-transform: none;
}

.section-3 .contact-widget form .col_full {
    margin-bottom: 20px;
}

#contact .contact-widget form {
    position: relative;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 3px 3px 0 0;
    padding: 30px;
}

.page-home .cta-buttons .cta-signup:after, .cta-last-call .button-3d:after {
    content: '';
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.20) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.20) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.20) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page-home .cta-buttons .cta-signup {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin: 0 0 5px;
}

.page-home .cta-buttons .cta-signup:hover {
    opacity: 1;
}

.page-home .cta-buttons .cta-signup + small {
    max-width: 555px;
    font-weight: 300;
    opacity: 0.85;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.page-home .cta-buttons .cta-signup.button-3d.button-red:hover {
    background-color: #ab2238 !important;
}

#go-ico {
    background: #13293d;
    background: -webkit-linear-gradient(#192c4a 0%, #13293d 75%);
    background: -o-linear-gradient(#192c4a 0%, #13293d 75%);
    background: linear-gradient(#192c4a 0%, #13293d 75%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#192c4a', endColorstr='#13293d',GradientType=0 );
    padding: 0;
    position: relative;
}

#go-ico #particles-js canvas{
    display:block;
    vertical-align:bottom;
    height: 100% !important;
}

#go-ico .heading-block h2   span {
    font-size: 60px;
    font-family: 'Monoton', cursive;
    color: #0AC9C0;
    background: -webkit-linear-gradient(45deg, aqua, #337ab7);
    background: linear-gradient(45deg, aqua, #337ab7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#go-ico .ico-content {
    padding: 80px 0;
}

#go-ico p.lead {
    font-size: 16px;
    font-weight: 400;
}

#go-ico .card {
    border-left: 3px solid aqua;
    margin-bottom: 100px;
    padding: 20px;
    background-color: rgba(0,0,0,0.075);
}

#go-ico .thumbnail {
    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    overflow: hidden;
    margin-bottom: 0;
    padding: 0;
    padding-right: 20px;
}

#go-ico .thumbnail img { margin: 0 auto 15px; }

#go-ico .thumbinfo h2 {
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 36px;
}

#go-ico .thumbnail .caption {
    padding: 10px 0;
    color: #fff;
}

#go-ico .thumbnail .caption p {
    font-size: 16px;
    margin-bottom: 0;
}

#go-ico .thumbinfo .box {
    text-align: center;
    border-right-width: 0;
    padding: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
}

#go-ico .thumbinfo .box h4 {
    color: #14dadf;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

#go-ico .thumbinfo .box h4 > span {
    color: #4aba4c;
}

#go-ico .thumbinfo .box small {
    font-family: 'Raleway';
    color: #ccc;
    text-transform: uppercase;
}

#go-ico .ico-btns, .page-ico .ico-btns {
    overflow: hidden;
    padding-top: 60px;
}

#go-ico .ico-btns a.button, .page-ico .ico-btns a.button {
    width: 100%;
    white-space: normal;
    background-color: #C02942;
    border: 2px solid #C02942;
    min-height: 120px;
}

#go-ico .ico-btns a.button:hover, .page-ico .ico-btns a.button:hover {
    background-color: #ab2238;
    border: 2px solid #ab2238;
}
#go-ico .ico-btns a.button.button-border, #go-ico .viewall a.button.button-border, 
.page-ico .ico-btns a.button.button-border {
    background-color: transparent;
    border: 2px solid #14dadf;
    color: #14dadf;
}

#go-ico .ico-btns a.button.button-border:hover, #go-ico .viewall a.button.button-border:hover, 
.page-ico .ico-btns a.button.button-border:hover {
    background-color: #14dadf;
    color: #fff;
}

#go-ico .ico-btns .button.button-desc span, .page-ico .ico-btns .button.button-desc span {
    letter-spacing: 0;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    line-height: 18px;
}

#go-ico .divider.divider-center:before {
    margin-left: -80px;
    top: 50%;
    border-top-color: rgba(255,255,255,0.05);
}

#go-ico .divider.divider-center:after {
    margin-left: 80px;
    top: 50%;
    border-top-color: rgba(255,255,255,0.05);
}

#go-ico .social i.fa {
    font-size: 20px;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
}

.page-ico #go-ico {
    background: #13293d;
    border-top: 1px solid rgba(255,255,255,0.1);
}

.page-ico .ico-btns {
    background-color: #122638;
    margin-bottom: 0 !important;
    padding-bottom: 60px;
    border-top: 1px solid rgba(255,255,255,0.1);
}

.cta-last-call {
    background: #282828 url('../images/bg_poster.png') center;
    background-size: cover;
}

/* Verification Page */
.page-verify .feature-box h3 {
    font-size: 22px;
    font-weight: 800;
    color: #13293D;
}

.page-verify .feature-box p {
    color: #777;
    font-size: 18px;
    font-weight: 300;
}

.page-verify .heading-block.center > span {
    max-width: 80%;
}

.page-verify .heading-block strong {
    color: #40c0cb;
}

.page-verify .heading-block.pw-recovery strong {
    color: #337ab7;
}

.page-verify .itemdone h3 {
    padding-top: 16px;
    text-transform: none;
    font-weight: 400;
}

/* Product Page */
.page-product .video-overlay {
    z-index: 0;
}

.page-product .page-product-contents .section.well {
    background-color: #EDF3F7;
    border: none;
    box-shadow: none;
}

.page-product .page-product-contents .section .col-text h3 {
    font-size: 34px;
    font-weight: 300;
    padding: 10px 0;
    margin-bottom: 0;
}

.page-product .page-product-contents .section .col-text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.page-product .page-product-contents .section {
    padding: 80px 0 0 0;
    margin: 0;
    background: transparent;
}

.page-product .page-product-contents .col-image img {
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15)
}

.page-product .page-product-contents .portfolio-item .portfolio-image {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

/* Pricing */
.page-pricing .video-overlay {
    z-index: 0;
}

.page-pricing h1 {
    font-weight: 300;
    font-size: 48px;
    text-align: center
}

.page-pricing .body > p {
    color: #A8A8A8;
    font-weight: 300;
    font-size: 18px;
    margin: 0 auto 40px;
    max-width: 740px;
    text-align: center
}

.page-pricing .body > h3 {
    font-size: 24px;
    font-weight: 700
}

.page-pricing .body .title-2 {
    margin-top: 60px;
    text-align: center
}

.page-pricing .plan {
    border: 1px solid #D4DDDD;
    margin-bottom: 10px
}

.page-pricing .plan .col-user, .page-pricing .plan .col-space, .page-pricing .plan .col-price, .page-pricing .plan .col-cta {
    height: 140px
}

.page-pricing .plan .col-user {
    color: #FFF
}

.page-pricing .plan .line {
    display: block;
    text-align: center;
    clear: none;
    position: relative;
    width: auto;
    margin: inherit;
    border: none
}

.page-pricing .plan .col-user .line-1 {
    font-family: "Helvetica Neue", "Open Sans", Arial;
    font-size: 48px;
    font-weight: 700;
    margin-top: 22px
}

.page-pricing .plan .col-user .line-2 {
    font-family: "Raleway", Arial;
    font-size: 18px;
    font-weight: 400;
    margin-top: -10px
}

.page-pricing .plan .col-price {
    font-family: "Helvetica Neue", "Open Sans", Arial;
    padding-left: 0;
    padding-right: 0
}

.page-pricing .plan .col-price .line {
    border-right: 1px solid #D4DDDD
}

.page-pricing .plan .col-price .line-1 {
    font-size: 36px;
    margin-top: 20px;
    padding-top: 10px
}

.page-pricing .plan .col-price .line-2 {
    font-size: 18px;
    margin-top: -10px;
    padding-bottom: 23px
}

.page-pricing .plan .col-space {
    font-family: "Raleway", Arial;
    font-size: 14px;
    padding-left: 0;
    padding-right: 0
}

.page-pricing .plan .col-space .line {
    border-right: 1px solid #D4DDDD
}

.page-pricing .plan .col-space .line-1 {
    font-family: "Raleway", Arial;
    font-size: 24px;
    margin-top: 20px
}

.page-pricing .plan .col-space .line-3 {
    padding-bottom: 7px
}

.page-pricing .plan .col-space .line-1 .amount {
    font-family: "Helvetica Neue", "Open Sans", Arial;
    font-size: 36px
}

.page-pricing .plan .col-cta .features {
    list-style: none;
    margin: 10px 0 0;
    padding: 0
}

.page-pricing .plan .col-cta .features .check {
    border-radius: 50%;
    color: #FFF;
    display: inline-block;
    height: 21px;
    margin-bottom: 10px;
    text-align: center;
    width: 21px
}

.page-pricing .plan .col-cta .btn {
    background-color: #116398;
    border-color: #116398;
    border-radius: 0;
    margin: 40px 5px 0 0;
    text-transform: uppercase
}

.page-pricing .plan-1 .col-user {
    background-color: #3AC8F3
}

.page-pricing .plan-1 .col-price .line {
    color: #3AC8F3;
    font-size: 44px;
    padding: 10px 0 26px
}

.page-pricing .plan-1 .col-cta .features .check {
    background-color: #3AC8F3
}

.page-pricing .plan-2 .col-user {
    background-color: #5F9BBB
}

.page-pricing .plan-2 .col-price {
    color: #5F9BBB
}

.page-pricing .plan-2 .col-cta .features .check {
    background-color: #5F9BBB
}

.page-pricing .plan-3 .col-user {
    background-color: #A0CF5B
}

.page-pricing .plan-3 .col-price {
    color: #A0CF5B
}

.page-pricing .plan-3 .col-cta .features .check {
    background-color: #A0CF5B
}

.page-pricing .plan-4 .col-user {
    background-color: #F5AF42
}

.page-pricing .plan-4 .col-price {
    color: #F5AF42
}

.page-pricing .plan-4 .col-cta .features .check {
    background-color: #F5AF42
}

.page-pricing .note {
    display: block;
    font-family: "Raleway", Arial;
    font-size: 14px;
    font-weight: 300
}

.page-pricing .repository-pricing {
    text-align: center;
    margin-bottom: 30px;
}

.page-pricing .circle {
    border: 4px solid #000;
    border-radius: 50%;
    display: inline-block;
    height: 214px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
    width: 214px;
    vertical-align: top
}

.page-pricing .circle .line {
    display: block;
    text-align: center;
    clear: none;
    position: relative;
    width: auto;
    margin: inherit;
    border: none
}

.page-pricing .circle .line-1 {
    font-family: "Helvetica Neue", "Open Sans", Arial;
    font-size: 36px;
    font-weight: 700;
    padding-top: 40px
}

.page-pricing .circle-1 .line-1 {
    font-family: "Raleway", Arial;
    font-size: 46px
}

.page-pricing .circle .line-2 {
    color: #A0A0A0;
    font-family: "Helvetica Neue", "Open Sans", Arial;
    font-size: 18px;
    margin-top: -10px
}

.page-pricing .circle .line-3 {
    color: #666;
    font-family: "Raleway", Arial;
    font-size: 24px;
    font-weight: 300;
    margin-top: -5px
}

.page-pricing .circle .line-3 .amount {
    font-family: "Helvetica Neue", "Open Sans", Arial;
    font-size: 36px
}

.page-pricing .circle-1 {
    border-color: #3AC8F3;
    color: #3AC8F3
}

.page-pricing .circle-2 {
    border-color: #5F9BBB;
    color: #5F9BBB
}

.page-pricing .circle-3 {
    border-color: #A0CF5B;
    color: #A0CF5B
}

.page-pricing .circle-4 {
    border-color: #F5AF42;
    color: #F5AF42
}

.page-pricing .circle-5 {
    border-color: #F18552;
    color: #F18552
}

.page-pricing .token-info {
    border: 1px solid #ddd;
    padding: 30px 30px 30px 60px;
    margin-bottom: 30px;
    height: 200px;
    background: transparent url('../images/bg_token.png') no-repeat;
    background-position: right 50%;
}

/* Resources */
.page-resources  #page-title.page-title-video {
    overflow: visible;
    width: 100% !important;
}
.page-resources .partner-logos {
    background-color: #337ab7;
    padding: 30px 0;
}

.page-resources .partner-logos .clients-grid li:before, .page-resources .partner-logos .clients-grid li:after {
    border-width: 0px;
}

.page-resources .partner-logos .clients-grid li a, .page-resources .partner-logos .clients-grid li img {
    width: auto;
    opacity: 1;
    padding: 0 10px;
}

.page-resources #content {
    overflow: visible;
    width: 100%;
}

.page-resources .page-resources-content .panel-heading h2 {
    margin-bottom: 0;
    line-height: 1.3;
}

.page-resources .page-resources-content .panel-body {
    padding: 0;
}

.page-resources .page-resources-content article h4 {
    margin-bottom: 0;
}

.page-resources .page-resources-content article h4 a {
    color: #337ab7;
    font-size: 16px;
    font-weight: 400;
}

.page-resources .page-resources-content article em {
    color: #777;
    font-size: 12px;
}

.page-resources .page-resources-content article {
    border-top: 1px #ECECEC solid;
    padding: 20px;
}

.page-resources .entry {
    border-bottom-width: 0px;
}

.page-resources .section-1, .page-resources .section-2, .page-resources .section-3, .page-resources .section-4 {
    position: relative;
}

.page-resources .divider.divider-center:before, .page-resources .divider.divider-center:after {
    margin-left: -80px;
    top: 50%;
}

.page-resources .divider.divider-center:after {
    margin-left: 80px;
}

.page-resources .cta-signup.button-red {
    background-color: #C02942;
}

.page-resources-content .button {
    background-color: #337ab7;
    color: #E5E5E5;
}

.page-resources-content .button:hover {
    background-color: #333333;
    color: #eee;
}

.page-resources .section-4 {
    margin: 0;
    padding: 0 0 60px 0;
    background-color: #13293d;
    background: linear-gradient(#192c4a 0%, #13293d 100%);
}

.page-resources .portfolio-image {
    border: 1px #ECECEC solid;
}

.page-resources .dark .portfolio-desc h3 a:hover {
    color: #40c0cb;
}

.page-resources #press-rss h2, .page-resources #blog-rss h2, .page-resources #news-rss h2, .page-press #press-rss h2, .page-blog #blog-rss h2, .page-news #news-rss h2 {
    height: 50px;
    overflow: hidden;
}

.page-resources #press-rss h2 {
    height: 55px;
}

.page-resources #press-rss .entry-image, .page-resources #blog-rss .entry-image, .page-resources #news-rss .entry-image, .page-press #press-rss .entry-image, .page-blog #blog-rss .entry-image, .page-news #news-rss .entry-image {
    height: 170px;
    overflow: hidden;
}

.page-resources #press-rss .entry-image {
    height: 240px;
}

.page-press #press-rss .entry-image, .page-blog #blog-rss .entry-image, .page-news #news-rss .entry-image {
    height: 140px;
}

.page-resources #press-rss p, .page-resources #blog-rss p, .page-resources #news-rss p, .page-press #press-rss p, .page-resources #blog-rss p, .page-resources #news-rss p {
    height: 100px;
    overflow: hidden;
}

.page-press #press-rss p, .page-blog #blog-rss p, .page-news #news-rss p {
    height: 105px;
}

.page-press #slider, .page-blog #slider, 
 .page-news #slider, .page-about #slider { overflow: visible; }

 #vid-tabs ul li > a { background-color: transparent; text-transform: uppercase; }
.dark  #vid-tabs ul.tab-nav li.ui-tabs-active a { background-color: #383838; }


/* Team */
.page-about #content {
    overflow: visible;
}

.page-about .page-about-content {
    padding: 80px 0;
    background-color: #fff;
}

.page-about .page-about-content p {
    font-size: 18px;
}

.page-about #wrapper {
    background-color: #000000;
}

.page-about #content {
    width: 100%;
    background-color: #edf3f7;
}

.page-about .team {
    text-align: center;
}

.page-about .profile {
    display: inline-block;
}

.page-about .profile .image {
    border-radius: 50%;
    overflow: hidden;
    width: 225px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
}

.page-about .team-title {
    padding-top: 0;
}

.page-about .team-title h4 {
    font-weight: 600;
    margin: 10px 0 8px;
    letter-spacing: normal;
    font-size: 18px;
    text-transform: none;
}

.page-about .team-title span {
    color: #40c0cb;
}

.page-about .team .dropdown .dropdown-menu:before {
    background: #FFF;
    width: 20px;
    height: 20px;
    content: "";
    position: absolute;
    top: -10px;
    transform: rotate(45deg);
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 99;
}

.page-about .team .dropdown .dropdown-menu {
    top: 225px;
    width: 100%;
    padding: 30px 20px 10px;
    border-color: #EDEDED !important;
}

.page-about .team .dropdown .dropdown-menu h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    text-align: center !important;
}

.page-about .team .dropdown .dropdown-menu h3 span {
    color: #808080;
    font-size: 14px;
    display: block;
    text-align: center;
    font-weight: 300;
    margin-top: 5px;
}

.page-about .team .dropdown .dropdown-menu h3:after {
    content: '';
    border-bottom: 2px solid #00a6d4;
    width: 50px;
    display: block;
    margin: 20px auto 24px;
}

.page-about .team .dropdown .dropdown-menu p {
    font-size: 14px;
    font-weight: 300;
    color: #808080;
    margin: -6px 0 0;
    margin-bottom: 20px;
    line-height: 150%;
}

.page-about .team .dropdown .profile .image {
    position: relative;
}

.page-about .team .dropdown .profile a .image:before {
    opacity: 0;
}

.page-about .team .dropdown .profile a:hover .image:before {
    opacity: 1;
    background: rgba(0, 0, 0, .4);
    content: '';
    display: block;
    width: 225px;
    height: 225px;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
}

/* FAQ */
.page-faq  .page-faq-content hr {
    border-color: #24A5D9;
    border-width: 4px;
    width: 50px;
    margin: 20px 0
}

.page-faq  .page-faq-content p {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 20px
}

.page-faq  .page-faq-content h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 60px 0 20px
}

.page-faq ol > li {
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 10px;
}

/* API */
.page-api .video-overlay {
    z-index: 0;
}

.page-api .api-form {
    position: relative;
    z-index: 10;
    background-color: #13293d;
    padding: 30px;
}

.page-api .api-form .heading-block h2 { font-size: 32px; }
.page-api .api-form .heading-block h2 + span { font-size: 18px; }

.page-api .api-contents .heading-block h3 {
    font-size: 34px;
    font-weight: 300;
    text-transform: none;
}

.page-api .api-contents p {
    font-size: 18px;
}

.page-api .heading-block h2 > span, .page-ico .heading-block h2 > span {
    font-size: 60px;
    font-family: 'Monoton', cursive;
    color: #0AC9C0;
    background: -webkit-linear-gradient(45deg, aqua, #337ab7);
    background: linear-gradient(45deg, aqua, #337ab7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page-api .iconlist {
    font-size: 18px;
}

.page-api .iconlist > li {
    line-height: 1.8;
    padding-left: 12px;
}

.page-api .iconlist li > i {
    color: #59BA41;
}
.page-api .iconlist li > img {
    position: absolute;
    left: -1.75em;
    top: 4px;
}

/* Privacy Policy and Terms */
.page-policy p, .page-terms .page-terms-content p {
    text-align: justify;
}

.page-policy ol, .page-terms .page-terms-content ul {
    padding-left: 40px;
}

.page-policy ol li, .page-terms .page-terms-content ul li {
    margin-bottom: 20px;
    text-align: justify;
}

/* Signup Page */
.page-signup .content-wrap {
    padding: 0;
}

.page-signup .section-1 {
    background: url(../images/capchainx/capchainx-sign-up-bg.png) center no-repeat;
    background-size: cover;
}

.page-signup .section-1 .contact-widget {
    width: 500px;
    margin: 0 auto;
}

.page-signup .section-1 .contact-widget .heading-block h3 {
    font-size: 24px;
    font-weight: 300;
    text-transform: none;
}

.page-signup .section-1 .contact-widget form .col_full {
    margin-bottom: 20px;
}

.page-signup #contact .contact-widget form {
    position: relative;
    z-index: 10;
    background-color: rgba(210, 210, 210, 0.45);
    border-radius: 3px;
    padding: 30px;
}

.page-signup #contact .contact-widget input[type="checkbox"] {
    display: inline-block;
    width: auto;
    height: auto;
}
 /* Responsive Home Slider */
@media (min-width:1600px) and (max-width:1720px) {
    #slider .app-mock { right: -5% !important; }
}
@media (min-width:1450px) and (max-width:1599px) {
    #slider .app-mock { right: -10% !important; }
}
@media (min-width:1271px) and (max-width:1449px) {
    #slider .app-mock { right: -15% !important; }
}
@media (min-width:1200px) and (max-width:1270px) {
    #slider .app-mock { right: -20% !important; }
}
@media (min-width:1119px) and (max-width:1199px) {
    #slider .app-mock { right: -25% !important; }
}
@media (min-width:992px) and (max-width:1118px) {
    #slider .app-mock { right: -33% !important; }
}
@media (max-height:768px) {
    #slider .app-mock { bottom: -15% !important; }
    .vertical-middle { top: 50% !important; }
}
 /* End Responsive Home Slider */

@media (max-width:1366px) {
    #slider .emphasis-title h1 {
        font-size: 52px;
    }
}

@media (min-width:1271px) {
    #primary-menu ul ul:before {
        content: '';
        position: absolute;
        top: -6px;
        left: 16px;
        width: 20px;
        height: 20px;
        background-color: #fff;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .dark #primary-menu:not(.not-dark) ul ul {
        background-color: #fff;
        box-shadow: 0 -2px 0 #fff;
        color: #fff !important;
        margin-top: -14px;
        top: 100%;
    }

    #header.sticky-header #primary-menu:not(.not-dark) ul ul {
        margin-top: 14px;
    }
}

@media (max-width:1270px) {
    #primary-menu ul ul:not(.mega-menu-column), 
    #primary-menu ul li .mega-menu-content {
        position: relative;
        width: auto;
        max-width: none;
        background: rgb(255, 255, 255) !important;
        box-shadow: none;
        border: 0;
        border-top: 1px solid #EEE;
        z-index: 1;
        top: 0;
        padding-left: 0;
        margin-top: 2px;
    }
}

@media (max-width:1200px) {
    .page-pricing .circle {
        margin-right: -33px;
    }
    .emphasis-title h1 {
        font-size: 56px;
    }

}

@media (max-width:992px) {
    .page-pricing .circle {
        margin-right: 11px;
    }

    .page-pricing .plan .col-space .line {
        border-width: 0;
    }

}

@media (min-width:992px) and (max-width:1199px) {
    .page-home #slider .vertical-middle + img {
        width: 70%;
    }

    #go-ico .container {
        width: 100%;
    }

}

@media (min-width:768px) and (max-width:1199px) {
    .page-home .cta-buttons a.cta-signup > span {
        display: none;
    }

    .page-home .cta-buttons a.cta-signup:after {
        content: 'Join CapchainX Community';
    }
}

@media (min-width:992px) and (max-width:1270px) {

    /* Original style */
    #header, #header-wrap {
        height: auto !important;
    }

    #header.sticky-header #header-wrap {
        position: relative;
    }

    #header.full-header .container {
        padding: 0 15px !important;
        margin: 0 auto;
        width: 96% !important;
    }

    #header.transparent-header + #slider {
        top: 0;
        margin-bottom: 0;
    }

    #primary-menu-trigger {
        opacity: 1;
        pointer-events: auto;
        margin-top: 0;
        left: 0;
        z-index: 1;
    }

    body:not(.top-search-open) #primary-menu-trigger {
        opacity: 1;
        -webkit-transition: opacity .2s .2s ease, top .4s ease;
        -o-transition: opacity .2s .2s ease, top .4s ease;
        transition: opacity .2s .2s ease, top .4s ease;
    }

    #logo {
        display: block;
        float: none;
        margin: 0 auto 0 !important;
        max-width: none;
        text-align: center;
        border: 0 !important;
        padding: 0 !important;
    }

    #primary-menu {
        display: block;
        float: none;
    }

    #primary-menu > ul {
        display: none;
        float: none !important;
        border: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }

    #primary-menu ul li {
        float: none;
        margin: 0 !important;
        text-align: left !important;
        border-top: 1px solid #EEE;
    }

    #primary-menu ul li:first-child {
        border-top: 0;
    }

    #primary-menu ul > li > a {
        padding: 14px 5px !important;
        border: none !important;
        margin: 0 !important;
    }

    .dark #primary-menu:not(.not-dark) ul li {
        border-top-color: rgba(255, 255, 255, 0.1) !important;
    }

    .slider-parallax .slider-parallax-inner {
        position: relative;
    }

    /* Custom */
    .primary-menu-open #primary-menu ul {
        padding-bottom: 20px !important;
    }

    #primary-menu-trigger {
        top: 15px;
    }

    #logo, #logo img {
        height: 80px;
        display: inline;
    }

    #header.dark.transparent-header, #header.dark.semi-transparent {
        background-color: #13293d;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

}

@media (max-width:991px) {
    .page-home #slider .vertical-middle { text-align: center; }
    .page-home .cta-buttons .cta-signup { margin: 5px auto 15px; max-width: 500px; }
    .page-home .cta-buttons .cta-signup + small { margin: 0 auto; }

    #primary-menu-trigger {
        top: 15px;
    }

    #logo, #logo img {
        height: 80px;
    }

    #header.dark.transparent-header, #header.dark.semi-transparent {
        background-color: #13293d;
    }

    .cta-buttons {
        text-align: center;
    }

    .cta-buttons a {
        display: block;
    }

    .cta-buttons a:first-child {
        float: none !important;
    }

    .feature-box.fbox-large {
        text-align: center;
        padding: 0;
    }

    .feature-box .fbox-icon {
        position: static;
        margin: 0 auto 30px auto;
    }

    #go-ico .container {
        width: 100%;
    }

    #go-ico .thumbinfo h2 {
        text-align: center;
    }

    #go-ico .ico-btns a.button, .page-ico .ico-btns a.button {
        min-height: auto;
    }

    /* Pricing */
    .captable-pricing .col-user, .captable-pricing .col-price, .captable-pricing .col-space {
        border-bottom: 1px solid #D4DDDD;
    }

}

@media (min-width:768px) {
    .lead {
        font-size: 24px;
    }

}

@media (max-width:768px) {
    #go-ico .ico-btns a.button + span, .page-ico .ico-btns a.button + span {
        display: block;
        margin: 10px 0;
    }
}

@media (max-width:767px) {
    .container, #header.full-header .container, .container-fullwidth {
        width: 90% !important;
    }

    .heading-block h2 {
        font-size: 38px;
    }

    .slidertext {
        padding: 0;
    }

    .page-home .cta-buttons a.cta-signup > span {
        display: none;
    }

    .page-home .cta-buttons a.cta-signup:after {
        content: 'Join Our Community';
    }

    .cta-last-call a.button-red > span {
        display: none;
    }

    .cta-last-call a.button-red:after {
        content: 'Join Our Community';
    }

    .section-3 .contact-widget {
        width: 100%;
    }

    .page-signup .section-3 .contact-widget {
        width: 100%;
    }

    .content-wrap {
        padding-top: 60px;
    }

    #go-ico .card {
        margin-bottom: 30px;
    }

    #go-ico .card.empty {
        height: 210px !important;
    }

    #go-ico .card.empty a {
        top: 0;
        width: 95%;
    }

    .page-api .introtext p { font-size: 16px; }

    /* Product Page */
    .page-product .page-product-contents .section {
        padding: 0 !important;
    }

    .page-product .page-product-contents .section .container {
        width: 100% !important;
    }

    /* Footer */
    .footer-widgets-wrap > .col_one_third {
        clear: both;
    }

    /* Resources */
    .page-resources .partner-logos .col_three_fourth {
        margin-bottom: 0 !important;
    }

    .page-resources .partner-logos .clients-grid li a, .page-resources .partner-logos .clients-grid li img {
        width: 85%;
    }

}

@media (min-width:480px) and (max-width:767px) {

    /* Footer */
    .footer-widgets-wrap > .col_two_third .col_one_third:first-child {
        width: 100%;
    }

    .footer-widgets-wrap > .col_two_third .col_one_third:first-child img {
        margin: 0 auto 30px auto;
    }

    .footer-widgets-wrap > .col_two_third .col_one_third {
        width: 48%;
        float: left;
    }

}

@media (max-width:425px) {
    .heading-block h2 {
        font-size: 32px;
    }

    #go-ico .ico-btns a > span, .page-ico .ico-btns a > span {
        display: none;
    }

    #go-ico .social { overflow: hidden; }

    .footer-logo {
        margin: 0 auto 30px;
    }

}

@media (max-width:320px) {
    .cta-section.button.button-full {
        font-size: 22px;
    }

    .ico-content .container, .ico-content .container .col-sm-12 {
        padding: 0;
    }

}
