/*Helper*/
.mt--150 { margin-top: -150; }

.mt--100 { margin-top: -100px; }

.mt-100 { margin-top: 100px; }

.pt-100 { padding-top: 100px; }

.pb-150 { padding-bottom: 150px; }

.mt-80 { margin-top: 80px; }

.mt-50 { margin-top: 50px; }

.mt-40 { margin-top: 40px; }

.mb-30 { margin-bottom: 30px; }

.mb-40 { margin-bottom: 40px; }

.mr-20 { margin-right: 20px; }

.mb-50 { margin-bottom: 50px; }

.mb-80 { margin-bottom: 80px; }

.mb-100 { margin-bottom: 100px; }

.transX--100 { transform: translateX(-100px); }

.transX--150 { transform: translateX(-150px); }

.btn { font-weight: bold; text-transform: uppercase; }

.btn-red { background: #e6635c; border-color: #e6635c; color: #fff; }

.btn-red:active:focus { box-shadow: 0 0 0 0.2rem rgba(230, 99, 92, 0.5); }

.btn-navy-blue { background: #022b42; border-color: #022b42; color: #fff; }

.btn-navy-blue:active:focus { box-shadow: 0 0 0 0.2rem rgba(2, 43, 66, 0.5); }

.btn-gradient { background: -moz-linear-gradient(64.67% -204.01% -120deg, #57c3c3 0%, #2bb7dd 34.88%, #108fca 72.36%, #0b70b7 100%); background: -webkit-linear-gradient(-120deg, #57c3c3 0%, #2bb7dd 34.88%, #108fca 72.36%, #0b70b7 100%); background: -webkit-gradient(linear, 64.67% -204.01%, 35.33% 304.01%, color-stop(0, #57c3c3), color-stop(0.3488, #2bb7dd), color-stop(0.7236, #108fca), color-stop(1, #0b70b7)); background: -o-linear-gradient(-120deg, #57c3c3 0%, #2bb7dd 34.88%, #108fca 72.36%, #0b70b7 100%); background: -ms-linear-gradient(-120deg, #57c3c3 0%, #2bb7dd 34.88%, #108fca 72.36%, #0b70b7 100%); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#57C3C3', endColorstr='#0B70B7' ,GradientType=0)"; background: linear-gradient(210deg, #57c3c3 0%, #2bb7dd 34.88%, #108fca 72.36%, #0b70b7 100%) !important; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57C3C3',endColorstr='#0B70B7' , GradientType=1); border-color: #2bb7dd; color: #fff; }

.btn-gradient:active:focus, .btn-gradient:active { box-shadow: 0 0 0 0.2rem rgba(43, 183, 221, 0.5); background: -moz-linear-gradient(64.67% -204.01% -120deg, #57c3c3 0%, #2bb7dd 34.88%, #108fca 72.36%, #0b70b7 100%); background: -webkit-linear-gradient(-120deg, #57c3c3 0%, #2bb7dd 34.88%, #108fca 72.36%, #0b70b7 100%); background: -webkit-gradient(linear, 64.67% -204.01%, 35.33% 304.01%, color-stop(0, #57c3c3), color-stop(0.3488, #2bb7dd), color-stop(0.7236, #108fca), color-stop(1, #0b70b7)); background: -o-linear-gradient(-120deg, #57c3c3 0%, #2bb7dd 34.88%, #108fca 72.36%, #0b70b7 100%); background: -ms-linear-gradient(-120deg, #57c3c3 0%, #2bb7dd 34.88%, #108fca 72.36%, #0b70b7 100%); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#57C3C3', endColorstr='#0B70B7' ,GradientType=0)"; background: linear-gradient(210deg, #57c3c3 0%, #2bb7dd 34.88%, #108fca 72.36%, #0b70b7 100%) !important; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57C3C3',endColorstr='#0B70B7' , GradientType=1); }

.btn-lg { font-weight: bold; text-transform: uppercase; padding: 15px 30px; font-size: 1rem; }

.btn-social { font-size: 14px; line-height: 30px; }
.btn-social span { background: #2eade4; width: 30px; height: 30px; margin-right: 10px; line-height: 30px; float: left; border-radius: 100%; border: 1px solid #fff; }
.btn-social span i { line-height: 1.8; }

.c-light { color: #606060; }

.c-grad { background: linear-gradient(90deg, #57c3c3 0%, #2bb7dd 34.88%, #108fca 72.36%, #0b70b7 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }

.dv-center { position: absolute; top: 50%; left: 0; transform: translateY(-50%); }

.img-auto { width: auto !important; }

.fa-facebook-square { color: #1a4d89; }

.fa-twitter-square { color: #00cfff; }

.fa-linkedin { color: #0e6aaf; }

.fa-medium { color: #000000; }

.fa-youtube { color: #e20c0c; }

body { font-family: "Montserrat", sans-serif; color: #383838; font-weight: 500; }

h1 { color: #e6635c; }

p { margin-bottom: 30px; }
p.lead { font-size: 22px; font-weight: 700; color: #606060; }

main { width: 100%; height: auto; position: relative; }

header .container-fluid { padding-left: 24px; padding-right: 24px; }
header nav.navbar { z-index: 1; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; height: 80px; }
header nav.sticky-header { background: #022b42; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; z-index: 1000; }
header nav .navbar-nav li { padding: 10px; }
header nav .navbar-nav li a { margin-top: 7px; font-weight: bold; text-transform: uppercase; font-size: 14px; border: 1px solid rgba(255, 255, 255, 0); }
header nav .navbar-nav li a.nav-link.bordered { padding-left: 1rem; padding-right: 1rem; border: 1px solid #fff; border-radius: 4px; color: #fff; }
header nav .navbar-nav:after { content: ""; width: 100%; position: absolute; bottom: 0; left: 0; display: block; border-bottom: 1px solid rgba(255, 255, 255, 0.15); }

.dv-banner { width: 100%; height: auto; display: block; position: relative; }
.dv-banner:after { content: ""; display: block; height: 700px; width: 100%; background: #fff; position: absolute; bottom: -333px; transform: skewY(-21deg); }
.dv-banner .screen-img { width: 100%; }
.dv-banner h2 { margin-bottom: 50px; font-size: 42px; font-weight: bold; color: #fff; }
.dv-banner h2 span { display: inline-block; font-size: 16px; text-transform: none; vertical-align: middle; }
.dv-banner span { font-weight: 300; font-size: 24px; text-transform: uppercase; color: #fff; display: block; }
.dv-banner p { color: #fff; font-weight: normal; }
.dv-banner .btn { font-weight: bold; text-transform: uppercase; padding: 15px 30px; }

.dv-ico_form { background: #fff; padding: 40px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); z-index: 5; position: relative; }
.dv-ico_form h4 { margin-bottom: 30px; font-size: 18px; font-weight: bold; background: -webkit-linear-gradient(#eee, #333); background: linear-gradient(90deg, #57c3c3 0%, #2bb7dd 34.88%, #108fca 72.36%, #0b70b7 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; text-transform: uppercase; color: #2bb7dd; }
.dv-ico_form img { width: 80%; }
.dv-ico_form input { background: #f2f2f2; border: 0; padding: 10px 15px; }
.dv-ico_form input::placeholder { color: #999999; font-weight: 500; }
.dv-ico_form input .form-control { margin-bottom: 15px; }

.dv-subscribe { z-index: 2; position: relative; }
.dv-subscribe input { background: #e6e6e6; padding: 9px 40px 9px 154px; border-radius: 100px; border-color: #e6e6e6; }
.dv-subscribe input::placeholder { color: #999999; font-weight: 500; }
.dv-subscribe span { background: #2bb7dd; padding: 12px; border-radius: 100px; font-size: 12px; font-weight: bold; line-height: 1; position: absolute; left: 6px; top: 4px; }
.dv-subscribe .ico_enve { color: #999999; position: absolute; left: 128px; top: 14px; transform: rotate(-26deg); }
.dv-subscribe .btn-sbmt { background: transparent; padding: 14px 15px; color: #999999; border: none; position: absolute; top: 0; right: 0; border-radius: 100%; }
.dv-subscribe .btn-sbmt:focus { outline: none; }
.dv-subscribe.light input { background: #fff; }
.dv-subscribe.light span { color: #fff; }

.section { padding: 80px 0; width: 100%; height: auto; position: relative; }
.section .h-title { font-size: 46px; font-weight: 800; color: #2bb7dd; line-height: 1; }
.section .subtitle { font-weight: bold; font-size: 18px; text-transform: uppercase; color: #4d4d4d; margin-bottom: 0; }
.section .subtitle span { color: #606060; display: block; }
.section img { width: 100%; }

.section-gradient { background: url("../images/pattern.png"); background-size: cover; background-position: center; background-repeat: no-repeat; background: url("../images/pattern.png") center center no-repeat/cover; }

.fltng-img { width: 100%; position: absolute; left: -50%; top: -50%; z-index: 4; }

#video-laptop { position: relative; padding-top: 25px; padding-bottom: 67.5%; height: 0; }
#video-laptop iframe { box-sizing: border-box; background: url("../images/laptop.png") center center no-repeat; background-size: contain; padding: 11.9% 12% 14.8%; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

#services { z-index: 2; }

#products { padding-top: 500px !important; margin-top: -450px !important; background-size: cover; background-position: center; background-repeat: no-repeat; background: url(../images/pattern-lg.png) center center no-repeat/cover; }
#products:before { content: ""; display: block; height: 800px; width: 100%; background: #fff; position: absolute; top: -476px; transform: skewY(-20deg); }
#products:after { content: ""; display: block; height: 700px; width: 100%; background: #fff; position: absolute; bottom: -373px; transform: skewY(-20deg); }

.dv-products-features p { color: #fff; font-weight: 600; font-size: 18px; }
.dv-products-features img { width: auto; }

.dv-testi-title { color: #fff; font-size: 28px; font-weight: bold; }

.dv-testi { background: #fff; padding: 40px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); z-index: 5; position: relative; }
.dv-testi .testi-entry { padding: 60px; display: block; float: left; position: relative; }
.dv-testi .testi-entry .test-img { width: 100px; float: left; }
.dv-testi .testi-entry .test-content { width: calc(100% - 100px); float: right; padding-left: 20px; font-size: 14px; }
.dv-testi .testi-entry .test-content p { text-align: left; font-size: 14px; margin-bottom: 20px; }
.dv-testi .testi-entry .test-content .name { font-weight: bold; color: #000000; display: block; }
.dv-testi .owl-nav button { background: #fff !important; width: 44px; height: 44px; position: absolute; top: 50%; transform: translateY(-50%); border: 1px solid #e6e6e6 !important; border-radius: 100%; }
.dv-testi .owl-nav button:focus, .dv-testi .owl-nav button:active, .dv-testi .owl-nav button:focus:active { outline: none; }
.dv-testi .owl-nav button.owl-prev { left: 10px; }
.dv-testi .owl-nav button.owl-next { right: 10px; }
.dv-testi .owl-nav button i { color: #b3b3b3; }

.owl-carousel { border: 4px solid rgba(43, 183, 221, 0.2); }
.owl-carousel:before, .owl-carousel:after { content: ""; content: ""; display: block; background-image: url(../images/testimonials/quote.png); width: 80px; height: 80px; background-repeat: no-repeat; background-position: center; background-color: #fff; position: absolute; left: -30px; top: -30px; padding: 10px; }
.owl-carousel:after { right: -30px; left: auto; bottom: -30px; top: auto; transform: rotate(-180deg); }

#news:after { content: ""; display: block; height: 700px; width: 100%; background: #fff; position: absolute; bottom: -107px; transform: skewY(-21deg); z-index: 2; }
#news .row { position: relative; z-index: 6; }

.dv-news { padding: 30px; max-height: 550px; border: 1px solid #e6e6e6; box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.1); display: block; color: #606060; float: left; overflow: auto; }
.dv-news .dv-news-entry { padding-bottom: 30px; margin-bottom: 30px; position: relative; float: left; display: block; border-bottom: 1px solid #e6e6e6; }
.dv-news .dv-news-entry .dv-date { width: 120px; display: block; float: left; font-weight: bold; }
.dv-news .dv-news-entry .dv-date span { display: block; font-size: 32px; }
.dv-news .dv-news-entry .dv-content { width: calc(100% - 120px); float: right; }
.dv-news .dv-news-entry .dv-content h4 { font-weight: bold; text-transform: uppercase; font-size: 18px; }
.dv-news .dv-news-entry .dv-content .time { display: block; margin-bottom: 20px; }
.dv-news .dv-news-entry .dv-content a.permalink { color: #808080; font-weight: 300; text-transform: uppercase; position: relative; }
.dv-news .dv-news-entry .dv-content a.permalink:hover { color: #2bb7dd; text-decoration: none; }
.dv-news .dv-news-entry .dv-content a.permalink:hover:after { transform: translateY(-50%) translateX(0); opacity: 1; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.dv-news .dv-news-entry .dv-content a.permalink:after { content: url("../images/permalink-arrow.svg"); position: absolute; right: -60px; top: 50%; transform: translateY(-50%) translateX(-50%); opacity: 0; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

footer { padding-top: 500px !important; margin-top: -230px; }
footer h4 { color: #022b42; font-weight: bold; }

.dv-social-links { padding: 0; }
.dv-social-links li { list-style-type: none; display: inline-block; font-size: 22px; margin-right: 10px; }

.dv-links { color: #999999; font-size: 12px; }
.dv-links a { color: #999999; }

.subpage .dv-banner { min-height: 100vh; padding-top: 180px; }
.subpage .dv-banner:after { bottom: -450px; transform: skewY(-14deg); }
.subpage .dv-page-title { margin-top: -520px; }
.subpage .dv-page-title h2 { margin-bottom: 50px; font-size: 42px; font-weight: bold; color: #fff; }
.subpage .dv-page-title h2 span { display: inline-block; font-size: 16px; text-transform: none; vertical-align: middle; font-weight: 300; }
.subpage footer { padding-top: 80px !important; margin-top: 0; }

.dv-subpage-container { background: #fff; padding: 40px; box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2); }
.dv-subpage-container p { margin-bottom: 20px; }
.dv-subpage-container h4 { font-size: 32px; color: #022b42; font-weight: 300; }
.dv-subpage-container h5 { color: #022b42; font-size: 24px; font-weight: 600; }
.dv-subpage-container h5 span { margin-top: 5px; color: #808080; font-size: 16px; font-weight: 400; display: block; text-transform: uppercase; }
.dv-subpage-container img { width: 100%; }
.dv-subpage-container img.ico-img { margin: 0 25px 15px 0; width: auto; float: left; }

.dv-team-entry { text-align: center; }
.dv-team-entry .dv-entry-img { width: 160px; margin: 0 auto; border-radius: 100%; overflow: hidden; }
.dv-team-entry ul { padding: 0; margin: 20px 0; list-style-type: none; color: #022b42; }
.dv-team-entry ul li { margin-bottom: 3px; }
.dv-team-entry ul li:first-child { font-weight: 800; }
.dv-team-entry ul li i { font-size: 32px; }

/*@media( max-height: 1080px ){
	.dv-subpage-container{
		margin-top: -800px;
	}
}

@media( max-height: 768px ){
	.dv-subpage-container{
		margin-top: -400px;
	}
}
*/
@media (max-width: 991px) { .dv-products-features img { width: 100%; }
  .dv-products-features p { font-size: 16px; }
  .dv-testi .testi-entry .test-img { width: 100px; float: none; display: block; margin: 0 auto 20px auto; }
  .dv-testi .testi-entry .test-content { width: 100%; }
  .navbar { background-color: #022b42; }
  .dv-news-cntr { margin-top: 0; }
  #news .h-title, #news .subtitle, #news .subtitle + p { text-align: center; }
  #news:after { bottom: 0; } }
@media (max-width: 767px) { .testi-side-img { display: none; }
  .hidden-xs { display: none; } }
@media (max-width: 576px) { #products { margin-top: -300px !important; }
  .subpage .dv-page-title h2 { font-size: 32px; } }
@media (max-width: 415px) { .dv-testi { padding: 20px; }
  .dv-testi .testi-entry { padding: 20px; }
  .dv-testi .owl-nav button.owl-prev { left: -20px !important; }
  .dv-testi .owl-nav button.owl-next { right: -20px !important; }
  .owl-carousel:before, .owl-carousel:after { width: 50px; height: 50px; background-size: contain; left: -20px; top: -20px; }
  .owl-carousel:after { left: auto; top: auto; right: -20px; bottom: -20px; }
  .dv-banner h2 { margin-bottom: 30px; font-size: 32px; }
  .dv-ico_form h4 { margin-top: 30px; }
  .dv-news .dv-news-entry .dv-date { width: 70px; }
  .dv-news .dv-news-entry .dv-content { width: calc(100% - 70px); } }
/*@media( max-width: 376px ){
	.dv-subpage-container{ 	margin-top: -420px;
	}
}

@media( max-width: 320px ){
	.dv-subpage-container{ 	margin-top: -320px;
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
	.dv-subpage-container{ margin-top: -1100px;
	}
}*/

/*# sourceMappingURL=main.css.map */
