$blue: #2bb7dd;
$darkBlue: #0d70b8;
$navyBlue: #022b42;
$green: #6eaa43;
$yellow: #e5c137;
$red: #e6635c;
$lGray: #e8e8e8;
$gray: #8a999b;
$fontFam: 'Montserrat', sans-serif;

@mixin gradient{
	background : -moz-linear-gradient(64.67% -204.01% -120deg,rgba(87, 195, 195, 1) 0%,rgba(43, 183, 221, 1) 34.88%,rgba(16, 143, 202, 1) 72.36%,rgba(11, 112, 183, 1) 100%);
  background : -webkit-linear-gradient(-120deg, rgba(87, 195, 195, 1) 0%, rgba(43, 183, 221, 1) 34.88%, rgba(16, 143, 202, 1) 72.36%, rgba(11, 112, 183, 1) 100%);
  background : -webkit-gradient(linear,64.67% -204.01% ,35.33% 304.01% ,color-stop(0,rgba(87, 195, 195, 1) ),color-stop(0.3488,rgba(43, 183, 221, 1) ),color-stop(0.7236,rgba(16, 143, 202, 1) ),color-stop(1,rgba(11, 112, 183, 1) ));
  background : -o-linear-gradient(-120deg, rgba(87, 195, 195, 1) 0%, rgba(43, 183, 221, 1) 34.88%, rgba(16, 143, 202, 1) 72.36%, rgba(11, 112, 183, 1) 100%);
  background : -ms-linear-gradient(-120deg, rgba(87, 195, 195, 1) 0%, rgba(43, 183, 221, 1) 34.88%, rgba(16, 143, 202, 1) 72.36%, rgba(11, 112, 183, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#57C3C3', endColorstr='#0B70B7' ,GradientType=0)";
  background : linear-gradient(210deg, rgba(87, 195, 195, 1) 0%, rgba(43, 183, 221, 1) 34.88%, rgba(16, 143, 202, 1) 72.36%, rgba(11, 112, 183, 1) 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57C3C3',endColorstr='#0B70B7' , GradientType=1);
}

@mixin transition($speed) {
  -webkit-transition: all $speed ease-in-out;
     -moz-transition: all $speed ease-in-out;
      -ms-transition: all $speed ease-in-out;
          transition: all $speed ease-in-out;
}

/*Helper*/
.mt--150{
	margin-top: -150;
}
.mt--100{
	margin-top: -100px;
}
.mt-100{
	margin-top: 100px;
}
.pt-100{
	padding-top: 100px;
}
.pb-150{
	padding-bottom: 150px;
}
.mt-80{
	margin-top: 80px;
}
.mt-50{
	margin-top: 50px;
}
.mt-40{
	margin-top: 40px;
}
.mb-30{
	margin-bottom: 30px;
}
.mb-40{
	margin-bottom: 40px;
}
.mr-20{
	margin-right: 20px;
}
.mb-50{
	margin-bottom: 50px;
}
.mb-80{
	margin-bottom: 80px;
}
.mb-100{
	margin-bottom: 100px;
}

.transX--100{
	transform: translateX(-100px);
}
.transX--150{
	transform: translateX(-150px);
}

.btn{
    font-weight: bold;
    text-transform: uppercase;
}

.btn-red{
  background: $red;
  border-color: $red;
  color: #fff;
}

.btn-red:active:focus{
  box-shadow: 0 0 0 0.2rem rgba($red,.5);
}

.btn-navy-blue{
  background: $navyBlue;
  border-color: $navyBlue;
  color: #fff;
}

.btn-navy-blue:active:focus{
  box-shadow: 0 0 0 0.2rem rgba($navyBlue,.5);
}

.btn-gradient{
	@include gradient;
  border-color: $blue;
  color: #fff;
}

.btn-gradient:active:focus, .btn-gradient:active{
  box-shadow: 0 0 0 0.2rem rgba($blue,.5);
  @include gradient;
}

.btn-lg{
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px 30px;
  font-size: 1rem;
}

.btn-social{
  font-size: 14px;
	line-height: 30px;

	span{
    background: #2eade4;
		width: 30px;
    height: 30px;
    margin-right: 10px;
    line-height: 30px;
    float: left;
    border-radius: 100%;
    border: 1px solid #fff;

    i{
			line-height: 1.8;
    }
	}
}

.c-light{
	color: #606060;
}

.c-grad{
	background: linear-gradient(90deg, #57c3c3 0%, #2bb7dd 34.88%, #108fca 72.36%, #0b70b7 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.dv-center{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.img-auto{
	width: auto !important;
}

.fa-facebook-square{
	color: #1a4d89;
}
.fa-twitter-square{
	color: #00cfff;
}
.fa-linkedin{
	color: #0e6aaf;
}
.fa-medium{
	color: #000000;
}
.fa-youtube{
	color: #e20c0c;
}

body{
	font-family: $fontFam;
	color: #383838;
	font-weight: 500;
}

h1{
	color: $red;
}

p{
	margin-bottom: 30px;

	&.lead{
		font-size: 22px;
    font-weight: 700;
    color: #606060;
	}
}

main{
  width: 100%;
	height: auto;
	position: relative;
}

header{
	.container-fluid{
		padding-left: 24px;
    padding-right: 24px;
	}

	nav{
		&.navbar {
			z-index: 1;
			@include transition(.5s);
			height: 80px;
		}

		&.sticky-header{
			background: $navyBlue;
			@include transition(.5s);
			z-index: 1000;
		}

		.navbar-nav{
			li{
				padding: 10px;

				a{
					
			    margin-top: 7px;
					font-weight: bold;
					text-transform: uppercase;
					font-size: 14px;
			    border: 1px solid rgba(255, 255, 255, 0);

			    &.nav-link.bordered{
				    padding-left: 1rem;
				    padding-right: 1rem;
	    	    border: 1px solid #fff;
				    border-radius: 4px;
				    color: #fff;
			    }
				}
			}

			&:after{ 
		    content: "";
			  width: 100%;
			  position: absolute;
			  bottom: 0;
			  left: 0;
			  display: block;
			  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
			}
		}
	}

}

.dv-banner{
	width: 100%;
	height: auto;
	display: block;
	position: relative;

	&:after{
    content: "";
    display: block;
    height: 700px;
    width: 100%;
    background: #fff;
    position: absolute;
    bottom: -333px;
    transform: skewY(-21deg);
	}

	.screen-img{
		width: 100%;
	}

	h2{
    margin-bottom: 50px;
    font-size: 42px;
    font-weight: bold;
    color: #fff;

    span{
	    display: inline-block;
	    font-size: 16px;
	    text-transform: none;
	    vertical-align: middle;
    }
	}

	span{
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    display: block;
	}

	p{
    color: #fff;
    font-weight: normal;
	}

	.btn{
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 30px;
	}
}

.dv-ico_form{
	background: #fff;
	padding: 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.10);
  z-index: 5;
  position: relative;

	h4{
		margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
    background: -webkit-linear-gradient(#eee, #333);
    background: linear-gradient(90deg, rgba(87, 195, 195, 1) 0%, rgba(43, 183, 221, 1) 34.88%, rgba(16, 143, 202, 1) 72.36%, rgba(11, 112, 183, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    color: $blue;
	}

	img{
		width: 80%;
	}

	input{
		background: #f2f2f2;
    border: 0;
    padding: 10px 15px;

    &::placeholder {
		  color: #999999;
		  font-weight: 500;
		}

    .form-control{
    	margin-bottom: 15px;
    }
	}

}

.dv-subscribe{
	z-index: 2;
	position: relative;

	input{
		background: #e6e6e6;
    padding: 9px 40px 9px 154px;
    border-radius: 100px;
    border-color: #e6e6e6;

    &::placeholder {
		  color: #999999;
		  font-weight: 500;
		}
	}

	span{
    background: $blue;
    padding: 12px;
    border-radius: 100px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    left: 6px;
    top: 4px;
	}

	.ico_enve{
		color: #999999;
    position: absolute;
    left: 128px;
    top: 14px;
    transform: rotate(-26deg);
	}

	.btn-sbmt{
    background: transparent;
    padding: 14px 15px;
		color: #999999;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 100%;

    &:focus{
    	outline:none;
    }
	}

	&.light{
		input{
	    background: #fff;
		}

		span{
	    color: #fff;
		}
	}
}

.section{
  padding: 80px 0;
  width: 100%;
  height: auto;
  position: relative;

  .h-title{
  	font-size: 46px;
    font-weight: 800;
    color: $blue;
    line-height: 1;
  }

  .subtitle{
  	font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: #4d4d4d;
    margin-bottom: 0;

    span{
    	color: #606060;
    	display: block;
    }
  }

  img{
  	width: 100%;
  }
}

.section-gradient{
	background: url('../images/pattern.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background: url('../images/pattern.png') center center no-repeat / cover ;
}

.fltng-img {
	width: 100%;
	position: absolute;
	left: -50%;
	top: -50%;
	z-index: 4;
}

#video-laptop {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;

	iframe {
	  box-sizing: border-box;
	  background: url('../images/laptop.png') center center no-repeat;
	  background-size: contain;
	  padding: 11.9% 12% 14.8%;
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	}
}

#services{
	z-index: 2;
}

#products{

	padding-top: 500px !important;
  margin-top: -450px !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: url(../images/pattern-lg.png) center center no-repeat/cover;

	&:before{
    content: "";
    display: block;
    height: 800px;
    width: 100%;
    background: #fff;
    position: absolute;
    top: -476px;
    transform: skewY(-20deg);
	}

	&:after{
    content: "";
    display: block;
    height: 700px;
    width: 100%;
    background: #fff;
    position: absolute;
    bottom: -373px;
    transform: skewY(-20deg);
	}
}

.dv-products-features{
	p{
    color: #fff;
    font-weight: 600;
    font-size: 18px;
	}

	img {
    width: auto;
	}
}

.dv-testi-title{
  color: #fff;
  font-size: 28px;
  font-weight: bold;
}
.dv-testi{
	background: #fff;
	padding: 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.10);
  z-index: 5;
  position: relative;

  .testi-entry{

    padding: 60px;
    display: block;
    float: left;
    position: relative;

  	.test-img{
  		width: 100px;
    	float: left;
  	}
  	.test-content{
	    width: calc(100% - 100px);
	    float: right;
	    padding-left: 20px;
	    font-size: 14px;

	    p{
	    	text-align: left;
		    font-size: 14px;
		    margin-bottom: 20px;
	    }

	    .name{
  	    font-weight: bold;
		    color: #000000;
		    display: block;
	    }

  	}
  }

	.owl-nav{
		button{
			background: #fff !important;
	    width: 44px;
	    height: 44px;
			position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    border: 1px solid #e6e6e6 !important;
	    border-radius: 100%;

	    &:focus, &:active, &:focus:active{ outline: none; }

	    &.owl-prev{
        left: 10px;
	    }

	    &.owl-next{
        right: 10px;
	    }

	    i{
	    	color: #b3b3b3;
	    }
		}
	}
}

.owl-carousel{
  border: 4px solid rgba(43, 183, 221, 0.20);

  &:before, &:after{
		content: "";
	    content: "";
		  display: block;
		  background-image: url(../images/testimonials/quote.png);
		  width: 80px;
		  height: 80px;
		  background-repeat: no-repeat;
		  background-position: center;
		  background-color: #fff;
		  position: absolute;
		  left: -30px;
		  top: -30px;
		  padding: 10px;
  }

   &:after{
   	right: -30px;
   	left: auto;
   	bottom: -30px;
   	top: auto;
    transform: rotate(-180deg);
   }
}

#news{
	&:after{
    content: "";
    display: block;
    height: 700px;
    width: 100%;
    background: #fff;
    position: absolute;
    bottom: -107px;
    transform: skewY(-21deg);
    z-index: 2;
	}

	.row{
		position: relative;
		z-index: 6;
	}
}

.dv-news{
  padding: 30px;
  max-height: 550px;
  border: 1px solid #e6e6e6;
  box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.1);
  display: block;
  color: #606060;
  float: left;
	overflow: auto;

  .dv-news-entry{
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
    float: left;
    display: block;
    border-bottom: 1px solid #e6e6e6;

    .dv-date{
	    width: 120px;
	    display: block;
	    float: left;
	    font-weight: bold;

	    span{
  	    display: block;
		    font-size: 32px;
	    }
    }

    .dv-content{
    	width: calc(100% - 120px);
    	float: right;

    	h4{
    		font-weight: bold;
		    text-transform: uppercase;
		    font-size: 18px;
    	}

    	.time {
    		display: block;
    		margin-bottom: 20px;
    	}

    	a.permalink{
    		color: #808080;
		    font-weight: 300;
		    text-transform: uppercase;
		    position: relative;

		    &:hover{
					color: $blue;
					text-decoration: none;

					&:after{
						transform: translateY(-50%) translateX(0);
			    	opacity: 1;
			    	@include transition(.2s);
					}
		    }

		    &:after{
	    	  content: url('../images/permalink-arrow.svg');
	    	  position: absolute;
			    right: -60px;
			    top: 50%;
			    transform: translateY(-50%) translateX(-50%);
			    opacity: 0;
			    @include transition(.2s);
		    }
    	}
    }
  }
}

footer{

	padding-top: 500px !important;
  margin-top: -230px;

	h4{
		color: $navyBlue;
    font-weight: bold;
	}
}

.dv-social-links{
	
	padding: 0;

	li{
    list-style-type: none;
    display: inline-block;
    font-size: 22px;
    margin-right: 10px;
	}
}

.dv-links{
  color: #999999;
  font-size: 12px;

  a{
  	color: #999999;
  }
}

.subpage {
	.dv-banner{
		
		min-height: 100vh;
    padding-top: 180px;

		&:after{
			bottom: -450px;
   	 	transform: skewY(-14deg);
		}
	}

	.dv-page-title{
		
    margin-top: -520px;

		h2{
			margin-bottom: 50px;
	    font-size: 42px;
	    font-weight: bold;
	    color: #fff;

	    span{
  	    display: inline-block;
		    font-size: 16px;
		    text-transform: none;
		    vertical-align: middle;
        font-weight: 300;
	    }
		}
	}

	footer{
		padding-top: 80px !important;
	  margin-top: 0; 
	}
}

.dv-subpage-container{
  background: #fff;
  padding: 40px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);

  p{
  	margin-bottom: 20px;
  }

  h4{
    font-size: 32px;
    color: $navyBlue;
    font-weight: 300;
  }

  h5{
  	color: $navyBlue;
    font-size: 24px;
    font-weight: 600;

    span{
    	margin-top: 5px;
    	color: #808080;
	    font-size: 16px;
	    font-weight: 400;    
	    display: block;
	    text-transform: uppercase;
    }
  }

  img{
  	width: 100%;

  	&.ico-img{
      margin: 0 25px 15px 0;
	    width: auto;
	    float: left;
  	}
  }
}

.dv-team-entry{
  text-align: center;

  .dv-entry-img{
  	width: 160px;
    margin: 0 auto;
    border-radius: 100%;
    overflow: hidden;
  }

  ul{
    padding: 0;
    margin: 20px 0;
		list-style-type: none;
    color: $navyBlue;

    li{
			
			margin-bottom: 3px;

    	&:first-child{
		    font-weight: 800;
    	}

    	i{
    		font-size: 32px;
    	}
    }
  }
}

/*@media( max-height: 1080px ){
	.dv-subpage-container{
		margin-top: -800px;
	}
}

@media( max-height: 768px ){
	.dv-subpage-container{
		margin-top: -400px;
	}
}
*/
@media (max-width: 991px){
	.dv-products-features{
		img{
			width: 100%
		}

		p{
	    font-size: 16px;
		}
	} 


	.dv-testi {
		.testi-entry {
			.test-img {
			  width: 100px;
			  float: none;
			  display: block;
			  margin: 0 auto 20px auto;
			}
			.test-content{
				width: 100%;
			}
		}
	}

	.navbar{
		background-color: $navyBlue
	}

	.dv-news-cntr{
		margin-top: 0;
	}

	#news{
		.h-title, .subtitle, .subtitle + p{ text-align: center; }

		&:after{
	    bottom: 0;
		}
	}
}


@media( max-width: 767px ){
	.testi-side-img{ display: none; }

	.hidden-xs{ display: none; }
}

@media( max-width: 576px ){
	#products{
    margin-top: -300px !important;
	}

	.subpage .dv-page-title h2{
		font-size: 32px;
	}
}

@media( max-width: 415px ){
	.dv-testi{
		padding: 20px;

		.testi-entry{
			padding: 20px;
		}

		.owl-nav{
			button{
				&.owl-prev{
					left: -20px !important;
				}
				&.owl-next{
					right: -20px !important;
				}
			}
		}
	}

	.owl-carousel{
		&:before, &:after{
	    width: 50px;
   		height: 50px;
	    background-size: contain;
      left: -20px;
  		top: -20px;
		}

		&:after{
			left: auto;
			top: auto;
	    right: -20px;
      bottom: -20px;
		}
	}

	.dv-banner{
		h2{
	    margin-bottom: 30px;
      font-size: 32px;
		}
	}

	.dv-ico_form h4{
		margin-top: 30px;
	}

	.dv-news {
		.dv-news-entry{
				.dv-date{
					width: 70px;
				}
				.dv-content{
			    width: calc(100% - 70px);
				}
			}
		}
	}

/*@media( max-width: 376px ){
	.dv-subpage-container{
  	margin-top: -420px;
	}
}

@media( max-width: 320px ){
	.dv-subpage-container{
  	margin-top: -320px;
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
	.dv-subpage-container{
    margin-top: -1100px;
	}
}*/